---
title: About Us – NHANCE NOW
"description": "This page gives an overview of NHANCE NOW, its businesses, values and commitment, and its management."
---
extends layouts/_layout
block content
  .about
    .about__intro
      .container
        .row.center-xs
          .col-md-7.col-sm-10.col-xs-12
            h1 On a Mission
            p Re-invent post purchase customer experience to go beyond the expectations<br> of the Digitally Empowered Generation!
    .about__started
      .container
        .row.center-xs
          .col-md-9.col-xs-12
            h2 Why we started?
            p In a fast changing world where convenience, driven by digital technologies is shaping the foundation of our everyday lives, we found modern day post purchase customer experiences clunky. We saw an opportunity to fix this.
            p We want to help brands sell experiences to their customers, not just products. Every product has a journey and we want it to be a beautiful one.
            p The first step in this mission for every brand is to have a strong and holistic customer experience model. The world’s best customer experiences models are based on relationships. Strong and meaningful brand customer relationships. NHANCE NOW is an humble effort to help businesses simplify these relationships, create elegant post purchase journeys and fill it with love and care.
            strong Our vision is to become an omnipresent platform for every business & it's customers to manage post purchase journey!
    .about__customers
      .container
        h2 Meet our customers
        .row
          .col-md-2.col-sm-4.col-xs-12
            .about__customers__block.wow.zoomIn(data-wow-duration='1s')
              img(src='img/about/propure.png')
          .col-md-2.col-sm-4.col-xs-12
            .about__customers__block.wow.zoomIn(data-wow-duration='1s')
              img(src='img/about/redfox.png')
          .col-md-2.col-sm-4.col-xs-12
            .about__customers__block.wow.zoomIn(data-wow-duration='1s')
              img(src='img/about/viva.png')
          .col-md-2.col-sm-4.col-xs-12
            .about__customers__block.wow.zoomIn(data-wow-duration='1s')
              img(src='img/about/fantastic.png')
          .col-md-2.col-sm-4.col-xs-12
            .about__customers__block.wow.zoomIn(data-wow-duration='1s')
              img(src='img/about/pens-corner.png')
          .col-md-2.col-sm-4.col-xs-12
            .about__customers__block.wow.zoomIn(data-wow-duration='1s')
              img(src='img/about/kings-traders.png')
          .col-xs-12
            a.btn.btn-secondary(href='customers.html') Read our customer stories
    .about__worth
      .container
        .row.center-xs
          .col-md-10.col-xs-12
            h2 The values that drive us everyday
            .row
              .col-md-4.col-sm-6.col-xs-12
                .about__worth__block.wow.zoomIn(data-wow-duration='1s')
                  p Culture of Trust
              .col-md-4.col-sm-6.col-xs-12
                .about__worth__block.wow.zoomIn(data-wow-duration='1s')
                  p Respect Everyone
              .col-md-4.col-sm-6.col-xs-12
                .about__worth__block.wow.zoomIn(data-wow-duration='1s')
                  p Customer Obsession
              .col-md-4.col-sm-6.col-xs-12
                .about__worth__block.wow.zoomIn(data-wow-duration='1s')
                  p Think Big
              .col-md-4.col-sm-6.col-xs-12
                .about__worth__block.wow.zoomIn(data-wow-duration='1s')
                  p Inspire Others
              .col-md-4.col-sm-6.col-xs-12
                .about__worth__block.wow.zoomIn(data-wow-duration='1s')
                  p Keep it Simple
    .about__facts
      .container
        h2 A few facts about NHANCE NOW
        .row.center-xs
          .col-md-2.col-sm-4.col-xs-12
            .about__facts__block.wow.fadeInLeft(data-wow-duration='1s')
              img(src='img/about/founded.png')
              strong 2016
              span FOUNDED
          .col-md-2.col-sm-4.col-xs-12
            .about__facts__block.wow.fadeInUp(data-wow-duration='1s')
              img(src='img/about/funding.png')
              strong Seed Funded
              span IN FUNDING
          .col-md-2.col-sm-4.col-xs-12
            .about__facts__block.wow.fadeInRight(data-wow-duration='1s')
              img(src='img/about/employees.png')
              strong Global
              span EMPLOYEES
