---
title: About
---
extends layouts/_layout
block content
  .about
    .about__intro
      .container
        .row.center-xs
          .col-md-6.col-sm-10.col-xs-12
            h1 On a Mission
            p At NHANCE NOW we are on a mission of making every purchase the beginning of a lifelong relationship between businesses and their customers by engaging them in amazing digital experiences at each stage of the post purchase journey.
    .about__started
      .container
        .row.center-xs
          .col-md-9.col-xs-12
            h2 Why we started?
            p In a fast changing world where convenience, driven by digital technologies is shaping the foundation of our everyday lives, we found modern day post purchase customer experiences clunky. We saw an opportunity to fix this. 
            p We want to help brands sell experiences to their customers, not just products. Every product has a journey and we want it to be a beautiful one. 
            p The first step in this mission for every brand is to have a strong and holistic customer experience model. The world’s best customer experiences models are based on relationships. Strong and meaningful brand customer relationships. NHANCE NOW is an humble effort to help businesses simplify these relationships, create elegant post purchase journeys and fill it with love and care.
    .about__customers
      .container
        h2 Meet our customers
        .row
          .col-md-2.col-sm-4.col-xs-12
            .about__customers__block.wow.zoomIn(data-wow-duration="1s")
              img(src="img/about/propure.png" srcset="img/about/propure@2x.png 2x, img/about/propure@3x.png 3x")
          .col-md-2.col-sm-4.col-xs-12
            .about__customers__block.wow.zoomIn(data-wow-duration="1s")
              img(src="img/about/redfox.png" srcset="img/about/redfox@2x.png 2x, img/about/redfox@3x.png 3x")
          .col-md-2.col-sm-4.col-xs-12
            .about__customers__block.wow.zoomIn(data-wow-duration="1s")
              img(src="img/about/jubilee-logo.png" srcset="img/about/jubilee-logo@2x.png 2x, img/about/jubilee-logo@3x.png 3x")
          .col-md-2.col-sm-4.col-xs-12
            .about__customers__block.wow.zoomIn(data-wow-duration="1s")
              img(src="img/about/fantastic.png" srcset="img/about/fantastic@2x.png 2x, img/about/fantastic@3x.png 3x")
          .col-md-2.col-sm-4.col-xs-12
            .about__customers__block.wow.zoomIn(data-wow-duration="1s")
              img(src="img/about/gmdc.png" srcset="img/about/gmdc@2x.png 2x, img/about/gmdc@3x.png 3x")
          .col-md-2.col-sm-4.col-xs-12
            .about__customers__block.wow.zoomIn(data-wow-duration="1s")
              img(src="img/about/kings-traders.png" srcset="img/about/kings-traders@2x.png 2x, img/about/kings-traders@3x.png 3x")
          .col-xs-12
            a(href="#").btn.btn-secondary Read our customer stories
    .about__worth
      .container
        h2 The values that drive us everyday
        .row
          .col-md-4.col-sm-6.col-xs-12
            .about__worth__block.wow.zoomIn(data-wow-duration="1s")
              p Commitment to Goals
          .col-md-4.col-sm-6.col-xs-12
            .about__worth__block.wow.zoomIn(data-wow-duration="1s")
              p Honesty to Our Mission
          .col-md-4.col-sm-6.col-xs-12
            .about__worth__block.wow.zoomIn(data-wow-duration="1s")
              p Respect for All
          .col-md-4.col-sm-6.col-xs-12
            .about__worth__block.wow.zoomIn(data-wow-duration="1s")
              p Top Notch Excellence
          .col-md-4.col-sm-6.col-xs-12
            .about__worth__block.wow.zoomIn(data-wow-duration="1s")
              p Never Give Up
          .col-md-4.col-sm-6.col-xs-12
            .about__worth__block.wow.zoomIn(data-wow-duration="1s")
              p Transparency
    .about__facts
      .container
        h2 A few facts about NHANCE
        .row
          .col-md-3.col-sm-6.col-xs-12
            .about__facts__block.wow.fadeInLeft(data-wow-duration="1s")
              img(src="img/about/founded.png" srcset="img/about/founded@2x.png 2x, img/about/founded@3x.png 3x")
              strong 2016
              span FOUNDED
          .col-md-3.col-sm-6.col-xs-12
            .about__facts__block.wow.fadeInUp(data-wow-duration="1s")
              img(src="img/about/funding.png" srcset="img/about/funding@2x.png 2x, img/about/funding@3x.png 3x")
              strong $2 Million
              span IN FUNDING
          .col-md-3.col-sm-6.col-xs-12
            .about__facts__block.wow.fadeInUp(data-wow-duration="1s")
              img(src="img/about/employees.png" srcset="img/about/employees@2x.png 2x, img/about/employees@3x.png 3x")
              strong 50+
              span EMPLOYEES
          .col-md-3.col-sm-6.col-xs-12
            .about__facts__block.wow.fadeInRight(data-wow-duration="1s")
              img(src="img/about/revenue.png" srcset="img/about/revenue@2x.png 2x, img/about/revenue@3x.png 3x")
              strong $1-50M ARR in 2 Years 
              span REVENUE GROWTH