---
title: Adoption
header: app-function
---
extends layouts/_layout
block content
  .app-function.adoption
    section.app-function__intro
      .container
        .app-function__intro__content.wow.fadeInUp(data-wow-duration="1s")
          img(src="img/app-function/adoption/adoption-human.png" srcset="img/app-function/adoption/adoption-human@2x.png 2x, img/app-function/adoption/adoption-human@3x.png 3x")
          .row.center-xs
            .col-lg-8.col-md-10.col-xs-12.start-xs
              .app-function__intro__block
                strong onboard
                h1 Smooth & Quick On-Boarding
                p Provide frictionless onboarding to ease <br>the customers adoption of your product or service
    section.app-function__description
      .container
        p A quick and easy start is the best way to welcome a customer and give them the sense of comfort. It sets the tone for all future interactions and is the single biggest factor in reducing product returns and acceptance of services. With NHANCENOW you can unify the core solutions such as on-boarding, activation & registration, self-service; to make the adoption stage simple and easy for your customers. 
    section.app-function__examples
      .container
        h2 Use cases
      .app-function__examples__content
        .container
          .app-function__examples__block
            .row.middle-xs
              .col-sm-5.col-xs-12.wow.fadeInUp(data-wow-duration="1.5s")
                h3 Simplify Product Activation or Registration
                p Product activation and registration is a tricky phase. It usually involves multiple entries in long forms. With NHANCENOW you can make it a quick and convenient process which minimizes friction and helps customers to engage with the product instantly. It also helps you to gather critical customer information right at the start, to personalize interactions. 
                ul
                  li Reduce steps involved in verifying serial numbers or any other unique identification number to activate products or services
                    img(src="img/app-function/tick-mark.png" srcset="img/app-function/tick-mark@2x.png 2x, img/app-function/tick-mark@3x.png 3x")
                  li Replace long forms. Machine learning allows auto filling of forms so that your customers only have a few fields to fill up, thereby reducing effort and frustration.
                    img(src="img/app-function/tick-mark.png" srcset="img/app-function/tick-mark@2x.png 2x, img/app-function/tick-mark@3x.png 3x")
              .col-sm-6.col-xs-12.col-sm-offset-1
                .app-function__examples__block__img.wow.fadeInRight(data-wow-duration="1.5s")
                  img(src="img/app-function/adoption/adoption-img-01.png" srcset="img/app-function/adoption/adoption-img-01@2x.png 2x, img/app-function/adoption/adoption-img-01@3x.png 3x")
          .app-function__examples__block
            .row.middle-xs
              .col-sm-6.col-xs-12.last-xs
                .app-function__examples__block__img.wow.fadeInLeft(data-wow-duration="1.5s")
                  img(src="img/app-function/adoption/adoption-img-02.png" srcset="img/app-function/adoption/adoption-img-02@2x.png 2x, img/app-function/adoption/adoption-img-02@3x.png 3x")
              .col-sm-5.col-xs-12.col-sm-offset-1.last-sm.wow.fadeInUp(data-wow-duration="1.5s")
                h3 Do-It-Yourself (DIY)
                p The future of product and services training is “doing it ourselves”. Provide rich media files, on-demand videos, digital documents, tips and tricks to aid customers gain knowledge about your products and services without any external aid.
                p Eliminate the need of human resources for assisting customers and enable anytime, anywhere learning. 
          .app-function__examples__block
            .row.middle-xs
              .col-sm-5.col-xs-12.wow.fadeInUp(data-wow-duration="1.5s")
                h3 Self Service & Help Center
                p Modern day customers are impatient. They need resolutions to their queries instantly. Provide instant help via troubleshooting videos, FAQs, live videocast, remote video support to provide instant gratification to your customers.
                p The self-service section can help reduce the load on your back-office teams by as much as 30%. It can also reduce field visit of technicians and support agents by as much as 70%.
              .col-sm-6.col-xs-12.col-sm-offset-1
                .app-function__examples__block__img.wow.fadeInRight(data-wow-duration="1.5s")
                  img(src="img/app-function/adoption/adoption-img-03.png" srcset="img/app-function/adoption/adoption-img-03@2x.png 2x, img/app-function/adoption/adoption-img-03@3x.png 3x")
          .app-function__examples__block
            .row.middle-xs
              .col-sm-6.col-xs-12.last-xs
                .app-function__examples__block__img.wow.fadeInLeft(data-wow-duration="1.5s")
                  img(src="img/app-function/adoption/adoption-img-04.png" srcset="img/app-function/adoption/adoption-img-04@2x.png 2x, img/app-function/adoption/adoption-img-04@3x.png 3x")
              .col-sm-5.col-xs-12.col-sm-offset-1.last-sm.wow.fadeInUp(data-wow-duration="1.5s")
                h3 Service Request Management
                p Allow your customers to easily raise service requests, allow them to attach media files so you could have a better understanding of the problem or queries. Send instant updates on the progress of the service ticket which provides a sense of comfort to your customers
          .app-function__examples__block
            .row.middle-xs
              .col-sm-5.col-xs-12.wow.fadeInUp(data-wow-duration="1.5s")
                h3 Digital Repository
                p Modern day customers want all their documents in one place. Provide lossless digital copies of documents (invoices, manuals, safety instructions, step-by-step guides) in a secure digital “Docbox”.
              .col-sm-6.col-xs-12.col-sm-offset-1
                .app-function__examples__block__img.wow.fadeInRight(data-wow-duration="1.5s")
                  img(src="img/app-function/adoption/adoption-img-03.png" srcset="img/app-function/adoption/adoption-img-03@2x.png 2x, img/app-function/adoption/adoption-img-03@3x.png 3x")
    section.app-function__start
      .container
        h2 Start transforming your customers into life time promoters
        a(href="#").btn.btn-primary request a demo