---
title: Build A Brand Advocacy Program for Your Business | NHANCE NOW
"description": "Build a successful brand advocacy program and amplify your brand value. Engage, incentivise & reward customers to amplify brand promotion."
header: app-function
---
extends layouts/_layout
block content
  .app-function.advocacy.app-function-scroll
    section.app-function__intro
      .container
        .app-function__intro__content.wow.fadeInUp(data-wow-duration='1s')
          img(src='img/app-function/advocacy/advocacy-human.png')
          .row.center-xs
            .col-md-8.col-sm-10.col-xs-12.start-xs
              .app-function__intro__block
                strong ADVOCATE
                h1 Build Advocates, Amplify Brand Value
                p
                  | Engage, incentivise & reward customers to
                  br
                  |  amplify brand promotion
    section.app-function__description
      .container
        p
          | Customer advocacy is directly proportional to profitability. 10% increase in advocacy can give you 200% increase in revenue growth. NHANCE NOW allows you to leverage happy customers and provides you with tools to reward customers and run advocacy programs.
    section.app-function__examples
      .container
        h2 Features
      .app-function__examples__content
        .container
          .app-function__examples__block.app-function__examples__block-1
            .row.middle-xs
              .col-sm-5.col-xs-12.wow.fadeInUp(data-wow-duration='1.5s')
                h3 Promotion and Offers
                p.app-function__examples__block-2
                  | Work towards transforming customers into long term promoters. Recommendation from a brand ambassador is more likely to influence purchase decisions of other customers. With NHANCE NOW you can provide your customers with tools to share offers and promote products
              .col-sm-6.col-xs-12.col-sm-offset-1
                #app-function-img-1.app-function__examples__block__img.app-function__examples__block__img--top
                  img(src='img/app-function/advocacy/adovate-img-01@3x.png')
          .app-function__examples__block
            .row.middle-xs
              .col-sm-6.col-xs-12.last-xs
                #app-function-img-2.app-function__examples__block__img
                  img(src='img/app-function/advocacy/adovate-img-02@3x.png')
              .col-sm-5.col-xs-12.col-sm-offset-1.last-sm.wow.fadeInUp(data-wow-duration='1.5s')
                h3 Gamification and Rewards
                p
                  | Develop brand stickiness with creative gamification programmes. Incentives or rewards help to increase customer retention and also to acquire and engage customers. You can incorporate incentive based gamification for customers who will promote your brand.
    section.app-function__start
      .container
        h2 Start transforming your customers into life time promoters
        a.btn.btn-primary(href='#schedule', rel='modal:open') request a demo
