---
title: Advocacy
header: app-function
---
extends layouts/_layout
block content
  .app-function.advocacy
    section.app-function__intro
      .container
        .app-function__intro__content
          img(src="img/app-function/advocacy/advocacy-human.png" srcset="img/app-function/advocacy/advocacy-human@2x.png 2x, img/app-function/advocacy/advocacy-human@3x.png 3x")
          .row.center-xs
            .col-xs-8.start-xs
              .app-function__intro__block
                strong ADVOCATE
                h1 Build Advocates Amplify Brand Value
                p Engage, incentivise & reward customers to<br> amplify brand promotion
    section.app-function__description
      p Customer advocacy is directly proportional to profitability. 10% increase in advocacy can give you 200% increase in revenue growth. NHANCENOW allows you to leverage happy customers and provides you with tools to reward customers and run advocacy programs.
    section.app-function__examples
      .container
        h2 Use cases
      .app-function__examples__content
        .container
          .app-function__examples__block
            .row.middle-xs
              .col-xs-5
                h3 Promotion and Offers
                p Work towards transforming customers into long term promoters. Recommendation from a brand ambassador is more likely to influence purchase decisions of other customers. With NHANCENOW you can provide your customers with tools to share offers and promote products
              .col-xs-6.col-xs-offset-1
                .app-function__examples__block__img.app-function__examples__block__img--top
                  img(src="img/app-function/advocacy/promotion.png" srcset="img/app-function/advocacy/promotion@2x.png 2x, img/app-function/advocacy/promotion@3x.png 3x")
          .app-function__examples__block
            .row.middle-xs
              .col-xs-6
                .app-function__examples__block__img
                  img(src="img/app-function/advocacy/gamification.png" srcset="img/app-function/advocacy/gamification@2x.png 2x, img/app-function/advocacy/gamification@3x.png 3x")
              .col-xs-5.col-xs-offset-1
                h3 Gamification and Rewards
                p Develop brand stickiness with creative gamification programmes. Incentives or rewards help to increase customer retention and also to acquire and engage customers. You can incorporate incentive based gamification for the customers who will promote your brand.
          .app-function__examples__block
            .row.middle-xs
              .col-xs-5
                h3 Advocate Identification and Nurturing
                p Identify customers who engage regularly; and leverage them to build your brand. Engage and incentivize with exclusive offers, discounts on future purchases and other attractions. Generate “Advocate score” by analysing engagements and interactions.
              .col-xs-6.col-xs-offset-1
                .app-function__examples__block__img
                  img(src="img/app-function/advocacy/advocate-identification.png" srcset="img/app-function/advocacy/advocate-identification@2x.png 2x, img/app-function/advocacy/advocate-identification@3x.png 3x")
    section.app-function__start
      .container
        h2 Start transforming your customers into life time promoters
        a(href="#").btn.btn-primary request a demo