---
title: Customers story Al-reef
header: app-function
---
extends layouts/_layout
block content
  .customers-story.al-reef
    section.customers-story__intro
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h1 Immersive customer experience to boost customer retention
            img(src="img/customers/al-reef@3x.png")
            //- .customers-story__intro__btn
            //-   a(href="#").btn.btn-secondary previous
            //-   a(href="#").btn.btn-secondary next
    .customers-story__content
      .container
        .row
          .col-md-3.col-sm-5.col-xs-12
            aside.aside
              h3 Features that they love
              .aside__block
                strong Self Service
                p Check out location and event videos
              .aside__block
                strong Offers and Notifications
                p Exciting offers on packages
              .aside__block
                strong M-Store
                p Buy event tickets and package add-ons
              .aside__block
                strong Service Request
                p Direct communication with customers
              .aside__block
                strong Feedback
                p Simple, instant feedback collection to improve service delivery
              h3 modules used
              .aside__block-modules
                ul
                  li
                    .aside__block-modules__img
                      img(src="img/icon/expansion.png" srcset="img/icon/expansion@2x.png 2x, img/icon/expansion@3x.png 3x")
                    | Engage
                  li
                    .aside__block-modules__img
                      img(src="img/icon/transact.png" srcset="img/icon/transact@2x.png 2x, img/icon/transact@3x.png 3x")
                    | Transact
                  li
                    .aside__block-modules__img
                      img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                    | Onboard
          .col-md-8.col-sm-7.col-xs-12
            .customers-story__text
              h3 AlReef uses NHANCENOW to provide a comprehensive digital information package for an immersive customer experience
              h2 The Challenge
              p Al Reef Tours and Holidays is one of the leading and fastest growing destination management company based in UAE purely focused on customer satisfactions. Their products have been designed after sampling and verifications by their team members from management to counter staff. 
              p Like most other travel company they design customised packages for their clients but it is the pricing of the packages that defined their customer retention ratio vis a vis their competitors. The travel industryhas very little to innovate upon other than pricing and packing. Al Reef wanted to be trend setter. Leveraging the “hunger” of a modern day customer for unique experiences, they were on a hunt for a solution which would give their customers a differentiated experience from the moment they booked their travel packages. Their businessstrategy was re-defined with a focus on their customer experience. Their goal was to fill their customers with avisual, sensory and information experience whereby the thrill of the actual journey would get amplified. 
              p Their hunt for a unique solution landed them at the doorsteps of NHANCE NOW. 
              h2 After adopting NHANCENOW
              p NHANCENOW’s offering provided a tight fit to Al Reef endeavour for innovation. The thrill and excitement of a journey starts at the point of sale, when a booking is made. Al Reef capitalized on this important touch point in the customer journey and revamped the entire experience from the moment a travel booking was made till the actual  day of the journey. 
              h2 Al Reef used NHANCENOW’s mobile interface to disrupt 4 key areas of their end user engagement and experience:
              ul
                li They digitised all travel documents (including tickets, travel advisory documents, visas, travel checklists) and provided them in a single repository
                li They provided short videos of key locations and attractions. Byte sized videos were a scale up from static imagery and enhanced the visual appeal of locations
                li Through the same mobile interface customers can now pre-book events, tickets, local city travel passes, dining.
                li Customers have a simple direct information and communication exchange channel with the business to pushproduct updates, offers and have one-to-one communication.
              p This refreshingly new approach increased customer engagement. Al Reef is now connected with their customers right from the time they book their holiday package till the D-Day. The platform allows them to keep the customers engaged, pre and  post journey.
            .customers-story__quote
              img(src="img/icon/quote-icon.png" srcset="img/icon/quote-icon@2x.png 2x, img/icon/quote-icon@3x.png 3x")
              p “Traditionally customers have been left on their own after they purchase travel packages. We are disrupting this process with NHANCENOW. We are now engaging and interacting with customers right from the moment they buy a holiday package from us and even after they have completed their journey. We believe in constant and personalized engagement with our customers tokeep their spirit of travel alive and kicking. NHANCENOW allows us to do so in ways which we had not envisioned earlier. ” 
              b CEO, Al Reef