---
title: Customers story Ali-amar
header: app-function
---
extends layouts/_layout
block content
  .customers-story.ali-amar
    section.customers-story__intro
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h1 Integrated messaging, feedback and marketing automation tool
            img(src="img/customers/ali-amar@3x.png")
            .customers-story__intro__btn
              a(href="#").btn.btn-secondary previous
              a(href="#").btn.btn-secondary next
    .customers-story__content
      .container
        .row
          .col-md-3.col-sm-5.col-xs-12
            aside.aside
              h3 Features that they love
              .aside__block
                strong Campaign Manager
                p Helps them set, trigger, analyse feedback and marketing automation campaign through simple push notifications
              .aside__block
                strong Service Request
                p Simple, media rich direct communication
              h3 modules used
              .aside__block-modules
                ul
                  li
                    .aside__block-modules__img
                      img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                    | Onboard
                  li
                    .aside__block-modules__img
                      img(src="img/icon/retention.png" srcset="img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x")
                    | Instacare
          .col-md-8.col-sm-7.col-xs-12
            .customers-story__text
              h3 Ali Amar Jewellers: NHANCENOW is Ali Amar’s integrated messaging, feedback and marketing automation tool
              h2 The Challenge
              p Jewellery is an intimate piece of art, integral to the fashion industry. It enjoys a high emotional connect with women and is one of the most revered item of gifting and celebration. It is an industry which runs on the “word of one’s mouth”. A personalized touch in the customer experience is the key ingredient which helps this industry thrive and grow.
              p Traditionally the customer experience in the jewellery industry has been following legacy methodologies. Personal conversations, in store showcasing and face to face feedback. However with customers becoming increasingly digital, this was an industry which could no longer close its eyes to adoption of this new age phenomenon.
              p Ali Amar Jewellers was doing what most jewellery companies would do. Their best customers were the ones who often visited their stores. They run traditional processes like SMS, phone calls, information brochures, newspaper advertisements. This defined their post purchase engagement with customers. The problem with this approach was that they were unable to measure the success of their campaigns. The messaging and communication were sub-optimal as they were scattered.
              p Ali Amar wanted a solution which would help them address 3 important areas of personalized interaction with their customers:
              ol
                li 1.	Personalized and measurable marketing communication about new products, offers, buy backs, exchanges
                li 2.	A simple direct messaging channel where by customers could exchange messages with media with the business, book products and services
                li 3.	Collect quality feedback
              h2 After adopting NHANCENOW
              p Ali Amar opted for the RETENTION module of NHANCENOW. Through single communication channel, NHANCENOW mobile app, their customers could now receive important marketing messages, conduct rich communication with the business and provide effective feedback.
              strong Marketing Communication
              p NHANCENOW not only allows Ali Amar to send personalized marketing communication it also allows them to track user responses. They can now visualize customer segment which view and dismiss their messages. It allows them to take follow up action on different category of customers based on response pattern analysis. Their marketing communications are now a lot more focussed. Based on purchase and product history they are now customising the marketing messages, so that the offerings are much more meaningful.
              strong Integrated Messaging
              p Customers now have simple and direct channel to communicate directly with the business. They no longer have to make phone calls or visit the store for general information. The rich media interface allows immersive media rich communication which includes video calls.
              strong Feedback (Customer Happiness Index)
              p The whole process of feedback mechanism is now automated. Feedback campaign can be set to trigger at periodic intervals. Its non-intrusive and with a few taps customers an complete the process. Analytics through simple and beautiful visual charts are instantly generated in the backend helping Ali Amar “listen” to the voice of the customer.
              p Each of the above features come with a high level of automation and requires very little human monitoring which was the key deciding factor in the purchase decision for Ali Amar.
              p Ali Amar is now generating a lot more “noise” in their customer community. They are now able to understand and positively influence customer needs and desires. Its helping them generate atleast 19% more revenue from their existing customer base.