---
title: Customers story confidential
header: app-function
---
extends layouts/_layout
block content
  .customers-story.confidential-3
    section.customers-story__intro
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h1 Member Lifecycle Management
            img(src="img/customers/confidential@3x.png")
            //- .customers-story__intro__btn
            //-   a(href="#").btn.btn-secondary previous
            //-   a(href="#").btn.btn-secondary next
    .customers-story__content
      .container
        .row
          .col-md-3.col-sm-5.col-xs-12
            aside.aside
              h3 Features that they love
              .aside__block
                strong Self Service
                p E-Learning videos to prepare for various driving tests
              .aside__block
                strong Offers and Notifications
                p Promote selling, up selling, cross selling
              .aside__block
                strong M-Store
                p Easy way to sell courses to enrolled members
              .aside__block
                strong Service Request
                p Direct communication between company and members
              .aside__block
                strong Feedback
                p Simple, instant feedback collection to improve service delivery
              h3 modules used
              .aside__block-modules
                ul
                  li
                    .aside__block-modules__img
                      img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                    | Adoption
                  li
                    .aside__block-modules__img
                      img(src="img/icon/retention.png" srcset="img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x")
                    | Retention
                  li
                    .aside__block-modules__img
                      img(src="img/icon/expansion.png" srcset="img/icon/expansion@2x.png 2x, img/icon/expansion@3x.png 3x")
                    | Expansion
                  li
                    .aside__block-modules__img
                      img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                    | Adoption
          .col-md-8.col-sm-7.col-xs-12
            .customers-story__text
              h3 A leading driving school uses NHANCENOW to manage the lifecycle of its enrolled students
              h2 The Challenge
              p Dubai with its large expat community, excellent roads and high heat has a large and thriving vehicle business. It is supported by several driving schools offering multiple driving courses.
              p Almost all recognised driving schools have a structured program of enrolling “students”, who are mostly expats, and managing their lifecycle which includes a variety of post enrolment activities.
              p These activities include e-learning lessons on driving courses, upselling driving courses & tests, cross promoting automobile products from affiliate companies, license and course completion certificates,  messaging on offers.
              p Every driving school generates higher revenue from incremental sales through the lifecycle of the enrolled member. As such a comprehensive engagement program is needed throughout the lifecycle to maintain sales momentum. While the company had digitised most of their post enrolment activities they were on the lookout for an unified solution which would make it easy for enrolled members to consume all offerings over a single interface. This would optimise the output from each channel and offer a simple, hassle free interface for their customers.
              p Their current setup of services were been offered over multiple channels, customers were missing out on key offerings.
              h2 After adopting NHANCENOW
              p NHANCENOW’s unification engine allowed the company to collate all services. The company could now synchronise its post enrolment activities. Members were offered an elegant digital kit once they enrolled. It offered them
              ul
                li all the tools that was needed to learn the intricacies of various driving tests (like Road driving, desert driving, emergency driving)
                li scheduling of driving tests
                li location of test centers
                li direct communication with company representatives
                li digital document repository (certificates, payment receipts, manuals)
                li option of purchasing courses directly from the mobile interface without visiting centers
                li capabilities to receive other affiliated services, special offers and cross sell products
              p Rich and visual data feed and charts provided the company with useful insights on customer behaviour and offer personalized services. The company now had one web interface to manage their entire customer lifecycle and it allowed them to plan a co-ordinated sequence of interactions for higher lifetime value.
              p The company through the use of NHANCENOW was also able to support various social initiatives of the Government of UAE, like the Green Initiative (by digitising all doucments) and the Customer Happiness Index (by collecting feedback on key events).
              p NHANCENOW also allowed the company to form a large connected digital community of their enrolled members who they could serve with greater efficiency and also use them as advocates to further their brand value.