---
title: Customers story Souq
header: app-function
---
extends layouts/_layout
block content
  .customers-story
    section.customers-story__intro
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h1 Personalized interaction with deep user intelligence
            img(src="img/customers/confidential@3x.png")
            //- .customers-story__intro__btn
            //-   a(href="#").btn.btn-secondary previous
            //-   a(href="#").btn.btn-secondary next
    .customers-story__content
      .container
        .row
          .col-md-3.col-sm-5.col-xs-12
            aside.aside
              h3 Features that they love
              .aside__block
                strong Smart Triggers
                p Contextual messaging based on pre-defined events
              h3 modules used
              .aside__block-modules
                ul
                  li
                    .aside__block-modules__img
                      img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                    | Onboard
                  li
                    .aside__block-modules__img
                      img(src="img/icon/retention.png" srcset="img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x")
                    | Instacare
          .col-md-8.col-sm-7.col-xs-12
            .customers-story__text
              h3 A leading multinational company selling technology products & consumer electronics: NHANCENOW is the primary tool for user intelligence gathering, deep analytics and personalized interaction to boost retention
              h2 The Challenge
              p A multinational company, a leading provider of consumer technology products and consumer electronics, embarked on an ambitious customer experience project. They wanted to gather real time and deep customer intelligence and offer contextual solutions, in real time or deferred mode. Their customer experience team had a clear brief, give consumers the solution they are seeking even before they place a request for it!
              p The technology tools which they were using provided them reactive solutions. A customer had to reach out to them with an issue with the service or the product before they would kick into action.
              p They were looking for a solution that informed them on what information customers were seeking, the media files they were consuming, customer response to notifications, etc
              p The goal that the team had set out for themselves was to delight customers with real time, meaningful interactions on every possible occasion.
              h2 After adopting NHANCENOW
              p The company zeroed in on NHANCENOW for its unique multi-dimensional offering. The Digital Kit offered through the NHANCENOW’s mobile interface was the perfect launch pad to trigger powerful user intelligence gathering (all actions carried out with explicit authentication by users for the purpose of delivering better user experience).
              p The content offered was engaging and the company analysed user behaviour the deep intelligence that was required to offer more meaningful interactions. Some of the key changes that the company was able to bring about were:
              ul
                li Based on the search queries of customers, from within, the app the company was able to quickly offer them a contextual response. For example if the customer queried “ looking for cleaning mechanism for Product A” then based on the search string, a notification was sent to the customer asking whether a technician visit could be scheduled to assist them in the cleaning operation.
                li Customer’s consumption preferences with regards to media files were tracked and relevant media files were populated in the header section of the self service (media) zone
                li Based on customer’s response to notifications (dismiss, view) appropriate follow up messages were triggered
              p The company also created rule based triggers for a host of other engagement activities which, based on customer’s interaction with the app, offered an instant contextual response.
              p Customer engagement and repeat buying rates saw a spike of nearly 20% a few months of the company adopting the solution.
              p NHANCENOW also allowed the company to form a large connected digital community of their enrolled members who they could serve with greater efficiency and also use them as advocates to further their brand value.