---
title: Customers story confidential
"description": ""
header: app-function
---
extends layouts/_layout
block content
  .customers-story.confidential-1
    section.customers-story__intro
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h1 360 degree of customer behaviour
            img(src="img/customers/confidential@3x.png")
            //- .customers-story__intro__btn
            //-   a(href="#").btn.btn-secondary previous
            //-   a(href="#").btn.btn-secondary next
    .customers-story__content
      .container
        .row
          .col-md-3.col-sm-5.col-xs-12
            aside.aside
              h3 Features that they love
              .aside__block
                strong User Intelligence Gathering
                p Deep user intelligence to drive contextual interactions
              .aside__block
                strong Smart Triggers
                p Contextual messaging based on pre-defined events
              .aside__block
                strong Visual Charts
                p Gives rich, yet quick overview of the key metrics
              h3 modules used
              .aside__block-modules
                ul
                  li
                    .aside__block-modules__img
                      img(src='img/icon/adoption.png')
                    | Onboard
                  li
                    .aside__block-modules__img
                      img(src='img/icon/expansion.png')
                    | Engage
                  li
                    .aside__block-modules__img
                      img(src='img/icon/transact.png')
                    | Transact
          .col-md-8.col-sm-7.col-xs-12
            .customers-story__text
              h3
                | They use NHANCE NOW to get 360 degreeview of their customer behavior in the post purchase journey
              h2 The Challenge
              p
                | The customer is a leading retail brand in the customer electronics space. The sell over 2000 SKUs with an average value of USD 200. They faced a challenge affecting thousands of businesses worldwide. Customers have a plethora of choice and are not averse to shifting loyalty unless they get the highest possible “attention” during their customer journey. For businesses to offer the richest possible experience it is imperative that they get a complete view of the customer journey. Businesses struggling with this key business metric often end up with a volatile churn sequence, impeding their capacity to leverage customers for a higher lifetime value.
              p
                | Various studies, conducted by internationally recognised institutions, have shown that even small slip-ups in the post purchase experience journey, results in hundreds of millions of dollars of losses for businesses. A recent Accenture study puts this loss at a staggering USD $6 billion worldwide across customer retail.
              p
                | The brand wanted to re-fresh their customer experience model. They wanted to understand the customer behaviour at each and every step of the post purchase journey. They wanted a seamless single point of visualisation of key customer experience metrics to understand the customer journey from the customer’s viewpoint. The challenge they were facing was that their customers experience evaluation journey was siloed.Interactions and outcomes varied across touchpoints and there were limited ways in which the different touchpoints interacted with each other. Key stakeholders, in leadership positions, did not have access to collateddata and this prevented them from taking inclusive decisions.
              p
                | This would help them identify red flags which prevented customers getting a satisfying end to end experience.
              h2 After adopting NHANCE NOW
              p
                | NHANCE NOW has allowed the business to explore new ways of enriching the post purchase customer experience. The deep linking of various touch points allows the business to synergise the workings of different departments. The decision makers now have rich analytics to quickly understand key customer behaviour patterns. Data feeds from every touch point helps them pull up any data on demand without switching between different IT systems. Long winding excel sheet reports have been replaced with elegant visual charts, which make it easy to deep dive into statistics and take quicker decisions.
              p
                | A Mckinsey report highlights key issues which businesses have to address to provide a complete post purchase journey experience. This task is made easier if the business has 360 degree view of the customer journey.
              ul
                li
                  | Step back and identify the nature of the journeys customers take - from the customer’s point of view.
                li
                  | Understand how customers navigate across the touchpoints as they move through the journey.
                li
                  | Anticipate the customer’s needs, expectations, and desires during each part of the journey.
                li Build an understanding of what is working and what is not. 
                li
                  | Come to grips with fixing root-cause issues and redesigning the journeys for a better end-to-end experience.
              p
                | NHANCE NOW enables the business to seamlessly execute the above processes to gain a deeper understanding of the customer journey. This helps them to continuously refine their experience offerings to match the needs of the demanding customer.
              p
                | Customer engagement and repeat buying rates saw a spike of nearly 20% a few months of the company adopting the solution.
              p
                | NHANCE NOW also allowed the company to form a large connected digital community of their enrolled members who they could serve with greater efficiency and also use them as advocates to further their brand value.
