---
title: Customers story confidential
header: app-function
---
extends layouts/_layout
block content
  .customers-story.confidential-2
    section.customers-story__intro
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h1 Boost cross selling
            img(src="img/customers/confidential@3x.png")
            //- .customers-story__intro__btn
            //-   a(href="#").btn.btn-secondary previous
            //-   a(href="#").btn.btn-secondary next
    .customers-story__content
      .container
        .row
          .col-md-3.col-sm-5.col-xs-12
            aside.aside
              h3 Features that they love
              .aside__block
                strong Digital Kit
                p Helped them provide a modern day post purchase experience to their customers. Also helped them build a connected customer community
              .aside__block
                strong Cross Sell (m-Store)
                p Provided an easy and seamless process to sell care plans.
              .aside__block
                strong Smart Triggers (Notifications)
                p Automate alerting and notifications to customers about purchase of complimentary products. Provided a “buy” button to complete purchases.
              h3 modules used
              .aside__block-modules
                ul
                  li
                    .aside__block-modules__img
                      img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                    | Onboard
                  li
                    .aside__block-modules__img
                      img(src="img/icon/retention.png" srcset="img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x")
                    | Instacare
          .col-md-8.col-sm-7.col-xs-12
            .customers-story__text
              h3 A leading hardware company, a global player in the laptop and computers, uses NHANCENOW to increase cross selling of complimentary products & accessories by 12%!
              h2 The Challenge
              p Customer is a global player in the laptop, computer and computing peripherals. There worldwide sales of personal computers in the last financial year crossed 17 million units in the retail segment. One of their key growth areas, in terms of revenue, is the sale of complimentary products like extendedwarranty packages, accidental damage protection plans and laptop batteries.
              p The brand faced 3 key challenges. Awareness about the availability of the complimentary products, an easy way to sell and having sufficient customer data to promote the products to a larger customer base. Asagainst an industry average of 62% of cross selling the brand was only managing around 23%! 
              p Awareness about extended warranty and accidental damage protection plans was low at 19%. Authorised battery sales were been overwhelmed by cheaper alternatives. 
              h2 After adopting NHANCENOW
              p The brand after due consideration decided to adopt NHANCENOW to focus on their cross selling activities. It was one of their key focus areas.
              p They took an integrated approach of digital community building, awareness campaign and easy provision of purchase to drive their cross selling initiatives. hey started with a focussed group of customers and sent  a Digital Kit when they made a purchase of a personal computing device. It helped them build a connected digita l community of customers who became part of the NHANCENOW ecosystem. This helped the brand run a focussed, highly  efficient and extremely cost effective awareness campaign to promote their complimentary products. 
              p They further used NHANCENOW’s actionable contextual notification engine to offer their customers a simple one touch process to increase sale of care plans and batteries. Powerful business rules allowed automatic push  of actionable notifications to customers at appropriate time schedule. The notifications were curated and  suggested the best extended warranty package or accidental damage protection plan or battery. Every notification  came with a “buy” or a book” option. The acceptance rate increased steadily. Customers needed only a few taps to  complete purchases. The brand saw a 11% increase in cross selling within a few months.
            .customers-story__quote
              img(src="img/icon/quote-icon.png" srcset="img/icon/quote-icon@2x.png 2x, img/icon/quote-icon@3x.png 3x")
              p “Dealing with our customers directly and offering them a customer experience that they deserve is at the core of our business culture. NHANCENOW’s simple mechanism allowed us to easily capture  customer data while making the process seamless for them. It also allowed us to bring them onto the  NHANCENOW ecosystem. We now have a 24/7 connect with our customers and offer them all post purchase interactions with a few taps”