---
title: Contact Us | Customer Experience Platform | NHANCE NOW
"description": "Whether you have a question about features, trial, pricing, need a demo, or anything else, our team is ready to answer all your questions."
header: app-function
---
extends layouts/_layout
block content
  .contacts
    .contacts__intro
      .container
        .row.center-xs
          .col-md-7.col-sm-10.col-xs-12
            h1 We’d love to hear from you
            p
              | Whether you have a question about features, trials, pricing, need a demo, or anything else, our team is ready to answer all your questions
    .contacts__content
      .container
        .row.start-md.center-xs
          .col-md-6.col-sm-7.col-xs-12.start-xs
            ul.contacts__block
              li
                strong Address
                .contacts__block__info
                  b.primary Bangalore
                  p
                    | #271, 2nd Floor, Sri Ganesh Complex, Hosur Main Road, Madiwala, Landmark: Silk Board Junction, Bangalore - 560068.
                  b.secondary Dubai
                  p FS#46, Building 16, Dubai Internet City, TECOM, Dubai, U.A.E.
              li
                strong Phone number
                .contacts__block__info
                  a(href='tel:+14158002826') 
                    img(src="img/country/usa.png", alt="")
                    | USA - +1 415 800 2826
                  a(href='tel:+971527999279') 
                    img(src="img/country/uae_flag.png", alt="")
                    | Dubai - +971 52 799 9279
                  a(href='tel:+918287198198') 
                    img(src="img/country/india_flag.png", alt="")
                    | India - +91 82871 98198
              li
                strong sales
                a(href='mailto:sales@nhancenow.com') sales@nhancenow.com
              li
                strong support
                a(href='mailto:sales@nhancenow.com') support@nhancenow.com
              li
                strong we’re hiring
                a.btn.btn-secondary(href='https://angel.co/nhance-now/jobs', target='_blank') see our job openings
          .col-md-6.col-xs-12.start-xs
            form.contacts__form
              .contacts__form__input
                input(type='text', placeholder='Name', name='customerName')
                input(type='tel', placeholder='Contact Number', name='customerNumber')
                input(type='email', placeholder='Email ID', name='customerEmail')
                input(type='text', placeholder='Message', name='customerMessage')
              .contacts__form__btn
                input.btn.btn-secondary(type='submit', value='submit')
              .contacts__form__dialogue__message
                p Message sent
