---
title: Customers
header: app-function
---
extends layouts/_layout
block content
  .customers
    section.customers__intro
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h1 Stories from a handful of our customers
            p Learn about the many ways our customers use Segment to solve problems with data.
    section.customers__stories
      .container
        .customers__stories__content
          .customers__stories__block.wow.zoomIn(data-wow-duration="1.5s")
            img(src="img/customers/souq.png" srcset="img/customers/souq@2x.png 2x, img/customers/souq@3x.png 3x")
            p How Redfox uses NHANCE NOW to simplify product registration and increase capture of customer information
            a(href="souq.html") READ CUSTOMER STORY
              i.icon.icon-arrow-right
          .customers__stories__block.wow.zoomIn(data-wow-duration="1.5s")
            img(src="img/customers/leau-pure.png" srcset="img/customers/leau-pure@2x.png 2x, img/customers/leau-pure@3x.png 3x")
            p Leaupure provides its customer with an end-to-end post purchase experience with NHANCE NOW
            a(href="leau-pure.html") READ CUSTOMER STORY
              i.icon.icon-arrow-right
          .customers__stories__block.wow.zoomIn(data-wow-duration="1.5s")
            img(src="img/customers/al-reef.png" srcset="img/customers/al-reef@2x.png 2x, img/customers/al-reef@3x.png 3x")
            p Al Reef uses NHANCE NOW to provide a comprehensive digital information package for an immersive customer experience
            a(href="al-reef.html") READ CUSTOMER STORY
              i.icon.icon-arrow-right
          .customers__stories__block.wow.zoomIn(data-wow-duration="1.5s")
            img(src="img/customers/confidential.png" srcset="img/customers/confidential@2x.png 2x, img/customers/confidential@3x.png 3x")
            p They use NHANCE NOW to get 360 view of their customer behavior in the post purchase journey
            a(href="confidential-1.html") READ CUSTOMER STORY
              i.icon.icon-arrow-right
          .customers__stories__block.wow.zoomIn(data-wow-duration="1.5s")
            img(src="img/customers/confidential.png" srcset="img/customers/confidential@2x.png 2x, img/customers/confidential@3x.png 3x")
            p A leading hardware company, a global player in the laptop and computers, uses NHANCE NOW to increase cross selling of complimentary products & accessories by 12%!
            a(href="confidential-2.html") READ CUSTOMER STORY
              i.icon.icon-arrow-right
          .customers__stories__block.wow.zoomIn(data-wow-duration="1.5s")
            img(src="img/customers/propure.png" srcset="img/customers/propure@2x.png 2x, img/customers/propure@3x.png 3x")
            p Propure uses NHANCE NOW to provide slick self service and reduce support tickets by upto 22%!
            a(href="propure.html") READ CUSTOMER STORY
              i.icon.icon-arrow-right
          .customers__stories__block.wow.zoomIn(data-wow-duration="1.5s")
            img(src="img/customers/confidential.png" srcset="img/customers/confidential@2x.png 2x, img/customers/confidential@3x.png 3x")
            p A leading driving school uses NHANCE NOW to manage the lifecycle of its enrolled students
            a(href="confidential-3.html") READ CUSTOMER STORY
              i.icon.icon-arrow-right
          .customers__stories__block.wow.zoomIn(data-wow-duration="1.5s")
            img(src="img/customers/fhi.png" srcset="img/customers/fhi@2x.png 2x, img/customers/fhi@3x.png 3x")
            p Esymart uses NHANCE NOW to simplify product onboarding for their customers leading to a 7% reduction in product returns!
            a(href="fhi.html") READ CUSTOMER STORY
              i.icon.icon-arrow-right
          .customers__stories__block.wow.zoomIn(data-wow-duration="1.5s")
            img(src="img/customers/ali-amar.png" srcset="img/customers/ali-amar@2x.png 2x, img/customers/ali-amar@3x.png 3x")
            p NHANCE NOW is Ali Amar’s integrated messaging, feedback and marketing automation tool
            a(href="ali-amar.html") READ CUSTOMER STORY
              i.icon.icon-arrow-right
          .customers__stories__block.wow.zoomIn(data-wow-duration="1.5s")
            img(src="img/customers/confidential.png" srcset="img/customers/confidential@2x.png 2x, img/customers/confidential@3x.png 3x")
            p A Leading electronics peripheral brand: NHANCE NOW is the primary tool for user intelligence gathering, deep analytics and personalized interaction to boost retention
            a(href="confidential-4.html") READ CUSTOMER STORY
              i.icon.icon-arrow-right
    section.mobile_tour__relations
      .container
        .row.center-xs
          .col-sm-7.col-xs-12
            h2 Start transforming your customers into life time promoters
            a(href="#schedule" rel="modal:open").btn.btn-primary Schedule a demo