---
title: Digital Experience Card – Transform Your Customer Experience
"description": "A revolutionary new concept of delivering post purchase experience and engaging with customers through a single powerful mobile interface."
---
extends layouts/_layout
block content
  .mobile_tour
    section.mobile_tour__intro
      .container
        .row.middle-xs
          .col-sm-6.col-xs-12.last-xs
            .mobile_tour__intro__img
              img(src='img/mobile_tour/pwa@3x.png').bg
              .swiper-container.swiper-mobile_tour
                .swiper-progress
                  span.active 1
                  b of
                  span.all 0
                .swiper-wrapper#swiper-random
                  .swiper-slide
                    img(src='img/home/animated/insurance.png')
                  .swiper-slide
                    img(src='img/home/animated/mobile.png')
                  .swiper-slide
                    img(src='img/home/animated/travel.png')
                  .swiper-slide
                    img(src='img/home/animated/furniture.png')
                  .swiper-slide
                    img(src='img/home/animated/home_appliances.png')
                  .swiper-slide
                    img(src='img/home/animated/sports.png')
                  .swiper-slide
                    img(src='img/home/animated/jewellery.png')
                  .swiper-slide
                    img(src='img/home/animated/car.png')
            .swiper-pagination.swiper-pagination-mobile_tour
          .col-sm-5.col-sm-offset-1.col-xs-12.last-sm.wow.fadeInUp(data-wow-duration='1s')
            strong Introducing World’s First
            h1 Digital Experience Card
            p World’s first Digital ExperienceCard. A personalized & interactive digital card for stunning and seamless post purchase digital experiences.
            p (Accessible over App, Mobile Web & PWA)
            a(href='#video' rel="modal:open")
              img(src='img/icon/play-icon.png', srcset='img/icon/play-icon@2x.png 2x, img/icon/play-icon@3x.png 3x')
              | Watch Video
    section.mobile_tour__experience
      .container
        h2 Digital Experience Cards re-invent your customer relationship.
        p
          | Enhance the experience of digitally empowered customers, increase lifetime value and build larger number of profitable customers.
        .mobile_tour__experience__content
          .mobile_tour__experience__block.wow.flipInY(data-wow-duration='1.5s')
            .mobile_tour__experience__block__img
              img(src='img/mobile_tour/ce-01.png', srcset='img/mobile_tour/ce-01@2x.png 2x, img/mobile_tour/ce-01@3x.png 3x')
            .mobile_tour__experience__block__text
              strong Give a complete makeover to post purchase convenience
              p
                | Provide the entire post purchase experience with an easy to use mobile channel, enable super simple interactions, automate repetitive activities with user permissions and offer smart recommendation to help customers get an enriching and fulflling product experience.
          .mobile_tour__experience__block.wow.flipInY(data-wow-duration='1.5s')
            .mobile_tour__experience__block__img
              img(src='img/mobile_tour/ce-04.png', srcset='img/mobile_tour/ce-04@2x.png 2x, img/mobile_tour/ce-04@3x.png 3x')
            .mobile_tour__experience__block__text
              strong Build life time partnership with your customers
              p
                | Customers usually feel a sense of abandonement after the purchase phase. With Digital Kits you can now 'live' the entire post purchase journey with them, digitally handholding them through important stages.
          .mobile_tour__experience__block.wow.flipInY(data-wow-duration='1.5s')
            .mobile_tour__experience__block__img
              img(src='img/mobile_tour/ce-03.png', srcset='img/mobile_tour/ce-03@2x.png 2x, img/mobile_tour/ce-03@3x.png 3x')
            .mobile_tour__experience__block__text
              strong Offer a full spectrum of brand experiences to amplify brand value
              p
                | Provide a full range of brand services in a completely new format. Empower customers with on-demand access to important product information, delight them with hyper personalized interactions and proactively engage with them to transmit a better ownership experience.
    section.mobile_tour__capability
      .container
        .mobile_tour__capability__title
          h2 Digital Experience Cards empower customers
          p
            | Transfer control of post purchase customer experience into the hands of your customers
        .mobile_tour__capability__block.mobile_tour__capability__block-1
          .row.middle-xs.center-xs
            .col-sm-5.col-xs-12.end-sm.wow.fadeInUp(data-wow-duration='1.5s')
              h3 One Stop Mobile Hub
              p
                | Provide all post purchase engagement over an elegant mobile interface. Help customers discover special offers, access all your services, make purchases, and stay in touch with you at all times.
              p.mobile_tour__capability__block-2
                | Its customer experience like never before and helps your customers easily manage product or service journeys.
            .col-sm-6.col-xs-12.start-sm
              #mobile_tour-img-1.mobile_tour__capability__block__img
                img(src='img/mobile_tour/key-feature-01.png', srcset='img/mobile_tour/key-feature-01@2x.png 2x, img/mobile_tour/key-feature-01@3x.png 3x' data-bottom-top="position:relative;top:70px;" data-top-bottom="position:relative;top:-70px;")
        .mobile_tour__capability__block
          .row.middle-xs.center-xs
            .col-sm-6.col-xs-12.end-sm.last-xs
              #mobile_tour-img-2.mobile_tour__capability__block__img
                img(src='img/mobile_tour/key-feature-02.png', srcset='img/mobile_tour/key-feature-02@2x.png 2x, img/mobile_tour/key-feature-02@3x.png 3x' data-bottom-top="position:relative;top:70px;" data-top-bottom="position:relative;top:-70px;")
            .col-sm-5.col-xs-12.start-sm.last-sm.wow.fadeInUp(data-wow-duration='1.5s')
              h3 Help Center
              p
                | Provide resolutions to customer queries instantly. Let customers choose from a list of curated resolutions to most common queries or raise service requests for specific issues.
              p.mobile_tour__capability__block-3
                | Help centers are the ideal alternative support channel, which offers a quick first line of support, enabling fast, fulfilling and on-demand customer support.
        .mobile_tour__capability__block
          .row.middle-xs.center-xs
            .col-sm-5.col-xs-12.end-sm.wow.fadeInUp(data-wow-duration='1.5s')
              h3 Do It Yourself
              p
                | Provide a range of self help resources in easy to consume videos, images and document files. Your customers get an on-demand knowledgebase and training artefacts to quicken product adoption and improve product usage.
              p.mobile_tour__capability__block-4
                | It is every customers’ digital assistant, available 24x7 to help them get the best value out of your products or services.
            .col-sm-6.col-xs-12.start-sm
              #mobile_tour-img-3.mobile_tour__capability__block__img
                img(src='img/mobile_tour/key-feature-03.png', srcset='img/mobile_tour/key-feature-03@2x.png 2x, img/mobile_tour/key-feature-03@3x.png 3x' data-bottom-top="position:relative;top:70px;" data-top-bottom="position:relative;top:-70px;")
        .mobile_tour__capability__block
          .row.middle-xs.center-xs
            .col-sm-6.col-xs-12.end-sm.last-xs
              #mobile_tour-img-4.mobile_tour__capability__block__img
                img(src='img/mobile_tour/key-feature-04.png', srcset='img/mobile_tour/key-feature-04@2x.png 2x, img/mobile_tour/key-feature-04@3x.png 3x' data-bottom-top="position:relative;top:70px;" data-top-bottom="position:relative;top:-70px;")
            .col-sm-5.col-xs-12.start-sm.last-sm.wow.fadeInUp(data-wow-duration='1.5s')
              h3 Personalized Interactions
              p.mobile_tour__capability__block-5
                | Send intelligent and contextual recommendations that are meant just for your customers! No more irrelevant messages that get labelled as spam. Every interaction is mapped to the product or service that your customers own..
        .mobile_tour__capability__block
          .row.middle-xs.center-xs
            .col-sm-5.col-xs-12.end-sm.wow.fadeInUp(data-wow-duration='1.5s')
              h3 Digital Documents
              p
                | Move away from cumbersome paper products and provide invoices, warranties, safety manuals,intstruction guides in digital lossless formats. You can even let your customers add invoices to access purchase details.
              p.mobile_tour__capability__block-6
                | Digitization is the best way to eliminate fake documents and allows anytime, anywhere access to documents and peace of mind for your customers.
            .col-sm-6.col-xs-12.start-sm
              #mobile_tour-img-5.mobile_tour__capability__block__img
                img(src='img/mobile_tour/key-feature-05.png', srcset='img/mobile_tour/key-feature-05@2x.png 2x, img/mobile_tour/key-feature-05@3x.png 3x' data-bottom-top="position:relative;top:70px;" data-top-bottom="position:relative;top:-70px;")
        .mobile_tour__capability__block
          .row.middle-xs.center-xs
            .col-sm-6.col-xs-12.end-sm.last-xs
              #mobile_tour-img-6.mobile_tour__capability__block__img
                img(src='img/mobile_tour/key-feature-06.png', srcset='img/mobile_tour/key-feature-06@2x.png 2x, img/mobile_tour/key-feature-06@3x.png 3x' data-bottom-top="position:relative;top:70px;" data-top-bottom="position:relative;top:-70px;")
            .col-sm-5.col-xs-12.start-sm.last-sm.wow.fadeInUp(data-wow-duration='1.5s')
              h3 Complimentary Purchases
              p
                | Enable quick discovery and 1-tap purchase of key complimentary services like extended warranty, insurances and various other add-ons with a simple intuitive interface.
              p.mobile_tour__capability__block-7
                | Boost your upsell and cross sell and save time for your customers by making it easy to make essential purchases right from their mobile phones.
        .mobile_tour__capability__block
          .row.middle-xs.center-xs
            .col-sm-5.col-xs-12.end-sm.wow.fadeInUp(data-wow-duration='1.5s')
              h3 Realtime Feedback
              p
                | Get instant realtime feedback on every aspect of your business. It takes less than 10 seconds for your customers to complete and make their voice heard.
              p
                | This allows you to process critical issues immediately and form a holistic picture of your business and stay aligned with your customer expectations.
            .col-sm-6.col-xs-12.start-sm
              #mobile_tour-img-7.mobile_tour__capability__block__img
                img(src='img/mobile_tour/key-feature-07.png', srcset='img/mobile_tour/key-feature-07@2x.png 2x, img/mobile_tour/key-feature-07@3x.png 3x' data-bottom-top="position:relative;top:70px;" data-top-bottom="position:relative;top:-70px;")
    section.mobile_tour__advantages
      .container
        .mobile_tour__advantages__title
          h2 More benefit
          p A digtial kit has a lot more to offer.
        .row
          .col-md-4.col-sm-6.col-xs-12
            .mobile_tour__advantages__block.wow.zoomIn(data-wow-duration='1s')
              .mobile_tour__advantages__block__img
                img(src='img/mobile_tour/product-registration.png', srcset='img/mobile_tour/product-registration@2x.png 2x, img/mobile_tour/product-registration@3x.png 3x')
              .mobile_tour__advantages__block__text
                strong Product Registration
                p Enable Registration of any product in 3 easy steps.
          .col-md-4.col-sm-6.col-xs-12
            .mobile_tour__advantages__block.mobile_tour__advantages__block--mobile.wow.zoomIn(data-wow-duration='1s')
              .mobile_tour__advantages__block__img
                img(src='img/mobile_tour/surveys.png', srcset='img/mobile_tour/surveys@2x.png 2x, img/mobile_tour/surveys@3x.png 3x')
              .mobile_tour__advantages__block__text
                strong Surveys
                p Conduct instant surveys on any product, service or brand experience.
          .col-md-4.col-sm-6.col-xs-12
            .mobile_tour__advantages__block.mobile_tour__advantages__block--right.wow.zoomIn(data-wow-duration='1s')
              .mobile_tour__advantages__block__img
                img(src='img/mobile_tour/view-events.png', srcset='img/mobile_tour/view-events@2x.png 2x, img/mobile_tour/view-events@3x.png 3x')
              .mobile_tour__advantages__block__text
                strong View Events
                p Show all upcoming and scheduled events in one place.
          .col-md-4.col-sm-6.col-xs-12
            .mobile_tour__advantages__block.mobile_tour__advantages__block--border.mobile_tour__advantages__block--mobile.wow.zoomIn(data-wow-duration='1s')
              .mobile_tour__advantages__block__img
                img(src='img/mobile_tour/action-notifications.png', srcset='img/mobile_tour/action-notifications@2x.png 2x, img/mobile_tour/action-notifications@3x.png 3x')
              .mobile_tour__advantages__block__text
                strong Actionable Notifications
                p Include Call to Actions within all notifications.
          .col-md-4.col-sm-6.col-xs-12
            .mobile_tour__advantages__block.mobile_tour__advantages__block--border.wow.zoomIn(data-wow-duration='1s')
              .mobile_tour__advantages__block__img
                img(src='img/mobile_tour/automated-alert.png', srcset='img/mobile_tour/automated-alert@2x.png 2x, img/mobile_tour/automated-alert@3x.png 3x')
              .mobile_tour__advantages__block__text
                strong Automated Alerts
                p
                  | Send automated reminders and never let customers miss out on any important activity.
          .col-md-4.col-sm-6.col-xs-12
            .mobile_tour__advantages__block.mobile_tour__advantages__block--border.mobile_tour__advantages__block--right.mobile_tour__advantages__block--right-1.wow.zoomIn(data-wow-duration='1s')
              .mobile_tour__advantages__block__img
                img(src='img/mobile_tour/recommendations.png', srcset='img/mobile_tour/recommendations@2x.png 2x, img/mobile_tour/recommendations@3x.png 3x')
              .mobile_tour__advantages__block__text
                strong Recommendations
                p Provide step by step recommendations through the entire customer journey.
    section.mobile_tour__relations
      .container
        .row.center-xs
          .col-md-8.col-xs-12
            h2 Show your customers how much you care about their experience
            p
              | Connect with one of our product specialists to understand 
              br
              | how your business can benefit from NHANCE NOW
            a.btn.btn-primary(href='#schedule', rel='modal:open') Schedule a demo
