---
title: Customers story Fhi
header: app-function
---
extends layouts/_layout
block content
  .customers-story.fhi
    section.customers-story__intro
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h1 Reduce Product Returns
            img(src="img/customers/fhi@3x.png")
            //- .customers-story__intro__btn
            //-   a(href="#").btn.btn-secondary previous
            //-   a(href="#").btn.btn-secondary next
    .customers-story__content
      .container
        .row
          .col-md-3.col-sm-5.col-xs-12
            aside.aside
              h3 Features that they love
              .aside__block
                strong Digital Kit
                p Helped them provide a modern day post purchase experience to their customers, whereby customers get everything that is needed to get started with the product journey.
              .aside__block
                strong Smart Triggers (Notifications)
                p Synchronized and contextual messaging campaign to guide customers as they embark on their journey.
              h3 modules used
              .aside__block-modules
                ul
                  li
                    .aside__block-modules__img
                      img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                    | Onboard
                  li
                    .aside__block-modules__img
                      img(src="img/icon/retention.png" srcset="img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x")
                    | Instacare
          .col-md-8.col-sm-7.col-xs-12
            .customers-story__text
              h3 Esymart uses NHANCENOW to simplify product onboarding for their customers leading to a 7% reduction in product returns!
              h2 The Challenge
              p Esymart is an offline / online retail player selling a variety of consumer durable products most of which are electronic products. Esymart’s customer policy enabled consumers a “no questions asked” return policy within the first 15 days of purchase. While Esymart saw impressive growth, it quickly came face to face with a challenge affecting the entire industry, the complex issue of products return.
              p Customers return products for a variety of reasons. However an analysis of return patterns showed that a high number of customers returned products simply because the “onboarding” process wasn’t the easiest. A simple “guided” onboarding process helps customers get off to a positive start and decreases their chances of contemplating a return. Esymart explored various solutions before zeroing in on NHANCENOW to offer a unified solution which offered their customers all the tool needed to have an easier onboarding process.
              h2 After adopting NHANCENOW
              p NHANCENOW’s unique digital platform offered customers a guided setup (onboarding process). It included everything that a customer needs to get started, when they lay their hand on a new product for the first time. Customers have access to videos, manuals, getting started guides, one-on-one chat channels with brand representatives, unboxing, installation guides (where required). It allowed customers easy access to relevant information and focus their attention on getting up and running with the product. Esymart immediately saw a decrease in product returns as customers had less friction in the initial phase and it generated a sense of comfort.
              p Within 3 months of adopting NHANCENOW Esymart saw a 7% decrease in product returns and a 23% increase in customer satisfaction.
              p Helping their customers with a smooth onboarding process has allowed them to experiment with other NHANCENOW offerings to boost retention and drive long term value creation.