---
title: Index Page
---
extends layouts/_layout
block content
  include ./home/intro
  include ./home/baner
  include ./home/interaction
  include ./home/simplicity
  include ./home/decision
  include ./home/relations
  include ./home/info
  include ./home/reviews