---
title: Customers story leau-pure
header: app-function
---
extends layouts/_layout
block content
  .customers-story.leau-pure
    section.customers-story__intro
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h1 End-to-End Post Purchase Experience Management
            img(src="img/customers/leau-pure@3x.png")
            .customers-story__intro__btn
              a(href="#").btn.btn-secondary previous
              a(href="#").btn.btn-secondary next
    .customers-story__content
      .container
        .row
          .col-md-3.col-sm-5.col-xs-12
            aside.aside
              h3 Features that they love
              .aside__block
                strong Digital Kit
                p Helped them provide a modern day post purchase experience to their customers, whereby customers get everything that is needed to get started with the product journey.
              .aside__block
                strong Push Notifications
                p Measurable notifications to drive marketing and brand building, while at the same time measuring impact.
              .aside__block
                strong Service Request
                p Manage the entire service ticketing without the need for an external tool
              .aside__block
                strong Digital Documents
                p Provide lossless digital copies of important documents. Save on printing and paper costs
              h3 modules used
              .aside__block-modules
                ul
                  li
                    .aside__block-modules__img
                      img(src="img/icon/retention.png" srcset="img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x")
                    | Retention
                  li
                    .aside__block-modules__img
                      img(src="img/icon/advocate.png" srcset="img/icon/advocate@2x.png 2x, img/icon/advocate@3x.png 3x")
                    | Advocacy
          .col-md-8.col-sm-7.col-xs-12
            .customers-story__text
              h3 Leaupure provides its customer with an end-to-end post purchase experience with NHANCE NOW
              h2 The Challenge
              p Purified water is a necessity in modern day lives as the human society becomes increasingly health conscious. Leaupure is an aspirational brand which is on a mission to solve the drinking water needs of the Indian middle class. Their business model is built around providing affordable, high quality water purification systems. To expand their business and provide their customers with a modern customer experience, while remaining lean they needed an end-to-end solution to drive their customer experience programs. The search for the ideal solution was hard. Either they had to deploy multiple IT solutions to manage different interaction channels or they had to invest in expensive solutions.
              p Their needs were expansive. Despite being a new brand they had made customer experience the corner stone of their business strategy. They wanted to digitise every facet of post purchase customer experience: Digital documents, media repository for self training & troubleshooting, a quick and easy ticketing management solution, marketing automation tool and mobile interface which customers would have access to at all times.
              p It took all of three days of a pilot run for Leaupure to figure out that NHANCENOW provided the magic sauce that were craved for.
              h2 After adopting NHANCENOW
              p With a turnaround time of just 5 days, Leaupure was up and running. Every new customer was presented with the revolutionary digital kit. Leaupure did away with most of the traditional offerings. Invoices, warranty certificates, user manuals, usage videos, service ticketing, spares sell, annual maintenance contracts,notifications, exchange offers were all available to customers from a single interface. 
              p The customer experience model that Leaupure had envisioned was slowly taking shape. With most of the activities automated, Leaupure did not have to maintain a a large workforce to manage the platform. They only have 2 administrators and a 10 member service ticket support team to manage their customer base of over 500,000 customers.
            .customers-story__quote
              img(src="img/icon/quote-icon.png" srcset="img/icon/quote-icon@2x.png 2x, img/icon/quote-icon@3x.png 3x")
              p "We always had aspirations of providing the same world class customer experience that our competitorsprovided. With deep pockets they could go the extra mile. NHANCENOW has shattered the myth that high quality customer experience needs a large budget. We are proud to be providing an experience that is truly modern and even leaves behind the models followed by bigger competitors. Instead of 5 IT systemswe get all our work done with 1!! And the flexible and super affordable pricing is the cherry on the cake.Customer experience is the only tool, apart from our products, which we have to build our market share and with NHANCENOW covering our back, we no longer feel left behind!"
              b Siddananda Gouda, CEO Leaupure