---
title: Pages
header: app-function
---
extends layouts/_layout
block content
  .pages
    .container
      h1 All pages
      ul
        li
          a(href="index.html") Home
        li
          a(href="mobile_tour.html") Mobile-tour
        li
          a(href="product.html") Product
        li
          a(href="onboard.html") Onboard
        li
          a(href="transact.html") Transact
        li
          a(href="engage.html") Engage
        li
          a(href="advocate.html") Advocate
        li
          a(href="instacare.html") Instacare
        li
          a(href="pricing.html") Pricing
        li
          a(href="team.html") Team
        li
          a(href="tour.html") Tour-lite
        li
          a(href="about.html") About
        li
          a(href="contacts.html") Contact
        li
          a(href="security.html") Security
        li
          a(href="service.html") Service
        li
          a(href="policy.html") Policy
        li
          a(href="customers.html") Customers