---
title: Pages
---
extends layouts/_layout
block content
  .pages
    .container
      h1 All pages
      ul
        li
          a(href="index.html") Home
        li
          a(href="adoption.html") Adoption
        li
          a(href="expansion.html") Expansion
        li
          a(href="retention.html") Retention
