---
title: Pages
header: app-function
---
extends layouts/_layout
block content
  .pages
    .container
      h1 All pages
      ul
        li
          a(href="index.html") Home
        li
          a(href="mobile_tour.html") Mobile-tour
        li
          a(href="adoption.html") Adoption
        li
          a(href="expansion.html") Expansion
        li
          a(href="retention.html") Retention
        li
          a(href="advocacy.html") Advocacy
        li
          a(href="support.html") Support
