---
title: Pricing
header: app-function
---
extends layouts/_layout
block content
  .pricing
    .container
      h1 Pricing
      .tabs
        ul.tabs__caption
          li.active monthly based
          li monthly based
        .tabs__content.active
          .pricing__tariff
            .row
              .col-xs-4
                .pricing__tariff__block
                  .pricing__tariff__block__title
                    h2 Free
                    p 14- day free trial.<br> No credit card required
                  .pricing__tariff__block__coins
                    p Starts at
                    strong 
                      span $
                      | 0
                  .pricing__tariff__block__details
                    a(href="#")
                    span
                  .pricing__tariff__block__btn
                    a(href="#").btn.btn-primary I’m ready for trial
                  .pricing__tariff__block__includes
                    h3 Includes:
                    p Limited to 100 DKs during trial
                  .pricing__tariff__block__all
                    h3 
                      a(href="#") All Features
                    ul
                      li Limited 3rd party integrations
                      li Assisted Onboarding
                      li Phone/Email Support
              .col-xs-4
                .pricing__tariff__block
                  .pricing__tariff__block__popular
                    p Most Popular Plan
                  .pricing__tariff__block__title
                    h2 Pro
                    p Idel for mid-sized<br> business.
                  .pricing__tariff__block__coins
                    p
                    strong 
                      span $
                      | 99
                      b /mo
                  .pricing__tariff__block__details
                    a(href="#") View Pricing Slabs
                    span (*DK Issuance Fee Extra)
                  .pricing__tariff__block__btn
                    a(href="#").btn.btn-primary I’m ready for trial
                  .pricing__tariff__block__includes
                    h3 Includes:
                    p 
                  .pricing__tariff__block__all
                    h3 
                      a(href="#") All Features
                    ul
                      li Open API for 3rd party integrations
                      li Assisted Onboarding
                      li Phone/Email Support
                      li Custom Reports
                      li Shared Account Manager
                      li Add-on features (at extra cost)
              .col-xs-4
                .pricing__tariff__block
                  .pricing__tariff__block__title
                    h2 Enterprise
                    p For businesses with <br>large monthly volumes.
                  .pricing__tariff__block__coins
                    p
                    strong Custom
                  .pricing__tariff__block__details
                    a(href="#")
                    span
                  .pricing__tariff__block__btn
                    a(href="#").btn.btn-primary I’m ready for trial
                  .pricing__tariff__block__includes
                    h3 Includes:
                    p
                  .pricing__tariff__block__all
                    h3 
                      a(href="#") All Features
                    ul
                      li Open API for 3rd party integrations
                      li Assisted Onboarding
                      li Priority Support (Email/Phone)
                      li Phone/Email Support
                      li Custom Reports
                      li Dedicated Account Manager
                      li Shared Account Manager
                      li Add-on features (at extra cost)
                      li Add-on features (at extra cost)
            .pricing__tariff__info
              p Standard charges for custom integrations
              p Not sure which plan to choose? Please drop us a mail at support@nhancenow.com
        .tabs__content