---
title: Product
---
extends layouts/_layout
block content
  .product
    section.product__intro
      .container
        .row.middle-xs
          .col-sm-6.col-xs-12.last-xs
            .product__intro__img.wow.fadeInLeft(data-wow-duration='1s')
              img(src='img/product/web-app-ipad.png', srcset='img/product/web-app-ipad@2x.png 2x, img/product/web-app-ipad@3x.png 3x')
          .col-sm-6.col-xs-12.last-sm.wow.fadeInUp(data-wow-duration='1s')
            h1 Digital Experience Cloud
            p
              | A suite of tools and open APIs to bring together all your existing business applications, create interactive Digital Experience Cards and deliver captivating post purchase experiences.
    section.product__transform
      .container
        .product__transform__title
          h2 Transform Every Stage of the Post Purchase Journey
          p
            | Bring together all your post purchase channels to improve service, support, up sell, insights gathering 
            br
            | and marketing automation and offer a seamless journey to your customers
      .product__transform__content
        .container
          .product__transform__row
            .product__transform__block.product__transform__block--1
              .product__transform__block__info
                img(src='img/icon/adoption.png', srcset='img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x')
                strong onboard
                p Smooth and quick onboarding
                a(href='onboard.html')
                  | Learn More
                  i.icon.icon-arrow-right-2
              .product__transform__block__list
                span
                ul
                  li Product Registration
                  li Smart Recommendations
                  li Step by Step Guides
                  li Digital Repositories
            .product__transform__block.product__transform__block--2
              .product__transform__block__info
                img(src='img/icon/retention.png', srcset='img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x')
                strong Instacare
                p On Demand & Conversational
                a(href='instacare.html')
                  | Learn More
                  i.icon.icon-arrow-right-2
              .product__transform__block__list
                span
                ul
                  li Do It Yourself
                  li Help Center
                  li Live Chat
            .product__transform__block.product__transform__block--3
              .product__transform__block__info
                img(src='img/icon/expansion.png', srcset='img/icon/expansion@2x.png 2x, img/icon/expansion@3x.png 3x')
                strong Engage
                p Contextual and Personalized Messaging
                a(href='engage.html')
                  | Learn More
                  i.icon.icon-arrow-right-2
              .product__transform__block__list
                span
                ul
                  li Lifecycle Messaging
                  li Feedback Management
                  li Data Driven Smart Interactions
            .product__transform__block.product__transform__block--4
              .product__transform__block__info
                img(src='img/icon/transact.png', srcset='img/icon/transact@2x.png 2x, img/icon/transact@3x.png 3x')
                strong Transact
                p Expand relationship, increase lifetime value
                a(href='transact.html')
                  | Learn More
                  i.icon.icon-arrow-right-2
              .product__transform__block__list
                span
                ul
                  li Cross Sell
                  li UpSell
                  li Add-On Selling
            .product__transform__block.product__transform__block--5
              .product__transform__block__info
                img(src='img/icon/advocate.png', srcset='img/icon/advocate@2x.png 2x, img/icon/advocate@3x.png 3x')
                strong advocate
                p Incentivize brand promotion
                a(href='advocate.html')
                  | Learn More
                  i.icon.icon-arrow-right-2
              .product__transform__block__list
                span
                ul
                  li Gamification
                  li Promotions
    section.product__capability
      .container
        .product__capability__block.product__capability__block-1
          .row.middle-xs
            .col-sm-6.col-xs-12.wow.fadeInUp(data-wow-duration='1.5s')
              strong INTEGRATIONS
              h3 Seamless integration with all your business applications
              p
                | We want you to leverage our platform with minimal changes to the way you work, hence we have made it easy to blend with your existing IT systems.
              p.product__capability__block-2
                | NHANCE NOW integrates smoothly and securely with all your business applications. Sync data, import and export content effortlessly between different systems to make every experience interaction simpler and better.
            .col-sm-6.col-xs-12.start-xs
              #product-img-1.product__capability__block__img.product__capability__block__img--logos
                img(src='img/product/logos.png', srcset='img/product/logos@2x.png 2x, img/product/logos@3x.png 3x')
                b and more
        .product__capability__block
          .row.middle-xs
            .col-sm-6.col-xs-12.last-xs
              #product-img-2.product__capability__block__img.product__capability__block__img--white
                img(src='img/product/img-01.png', srcset='img/product/img-01@2x.png 2x, img/product/img-01@3x.png 3x')
            .col-sm-5.col-xs-12.col-sm-offset-1.last-sm.wow.fadeInUp(data-wow-duration='1.5s')
              h3 Machine learning to generate deep user insights 
              p
                | Our deep learning technology is baked into our platform and mobile channels to generate actionable user analytics. Learn about user preferences, engagement metrics, & demographical data.
              p.product__capability__block-3
                | You can leverage the information to build customer profiles, deliver real time contextual messages, anticipate customer needs and automate key actions based on specific events thereby improving the overall experience.
        .product__capability__block
          .row.middle-xs
            .col-sm-6.col-xs-12.wow.fadeInUp(data-wow-duration='1.5s')
              h3 Dashboards & Reporting
              p
                | Our platform generates tons of data for you. Our visualization engine helps you make a quick analysis of important metrics. Our detailed reports help you with in depth analysis.
              p.product__capability__block-4
                | Make sense of numbers, measure performance of various campaigns and get useful customer data with a few clicks.Bring all your post purchase customers interaction channels together within a single platform and discover the new ways of value creation and benefits from every channel.
            .col-sm-6.col-xs-12.start-xs
              #product-img-3.product__capability__block__img
                img(src='img/product/img-02.png', srcset='img/product/img-02@2x.png 2x, img/product/img-02@3x.png 3x')
        .product__capability__block
          .row.middle-xs
            .col-sm-6.col-xs-12.last-xs
              #product-img-4.product__capability__block__img
                img(src='img/product/img-03.png', srcset='img/product/img-03@2x.png 2x, img/product/img-03@3x.png 3x')
            .col-sm-5.col-xs-12.col-sm-offset-1.last-sm.wow.fadeInUp(data-wow-duration='1.5s')
              h3 Hyper Personalization
              p
                | Make customers feel valued and loved by customising your interactions with them. Tailor greetings, welcome messages, content, offers and recommendations with our business rule engine and smart messaging tools.
              p.product__capability__block-5
                | Our personallization tool helps you build loyalty, increase revenue, promote add-on purchases leading to a happier customer base.
        .product__capability__block
          .row.middle-xs
            .col-sm-6.col-xs-12.wow.fadeInUp(data-wow-duration='1.5s')
              h3 Built for scale
              p
                | Our architecture is optimized to handle scale as your business grows. We are hosted on AWS and use a host of other technologies to help you scale dynamically, maintain industry standard uptimes and maintain operational efficiency at increased load.
              p
                | We manage the entire technology backbone so that you can focus on growing your business.
            .col-sm-6.col-xs-12.end-xs.flex
              #product-img-5.product__capability__block__img.product__capability__block__img--white
                img(src='img/product/img-04.png', srcset='img/product/img-04@2x.png 2x, img/product/img-04@3x.png 3x')
    section.mobile_tour__advantages
      .container
        .mobile_tour__advantages__title
          h2 Other Platform Highlights
          p
            | Modernize and simplify experience for your customers" with "A complete industry standard SaaS offering
        .row
          .col-md-4.col-sm-6.col-xs-12
            .mobile_tour__advantages__block.wow.zoomIn(data-wow-duration='1s')
              .mobile_tour__advantages__block__img
                img(src='img/icon/easy-stepup.png', srcset='img/icon/easy-stepup@2x.png 2x, img/icon/easy-stepup@3x.png 3x')
              .mobile_tour__advantages__block__text
                strong Easy Setup
                p Plug-n-play modules. Get started quickly. Scale as you go along.
          .col-md-4.col-sm-6.col-xs-12
            .mobile_tour__advantages__block.mobile_tour__advantages__block--mobile.wow.zoomIn(data-wow-duration='1s')
              .mobile_tour__advantages__block__img
                img(src='img/icon/pay-per-use.png', srcset='img/icon/pay-per-use@2x.png 2x, img/icon/pay-per-use@3x.png 3x')
              .mobile_tour__advantages__block__text
                strong Pay Per Use 
                p Pay only for what you use. No setup fees. No surprises!
          .col-md-4.col-sm-6.col-xs-12
            .mobile_tour__advantages__block.mobile_tour__advantages__block--right.wow.zoomIn(data-wow-duration='1s')
              .mobile_tour__advantages__block__img
                img(src='img/icon/highly-secure.png', srcset='img/icon/highly-secure@2x.png 2x, img/icon/highly-secure@3x.png 3x')
              .mobile_tour__advantages__block__text.mobile_tour__advantages__block__text--border
                strong Highly Secure 
                p
                  | HHosted on AWS. All your data is encrypted using 128-bit AES encryption put a full stop
          .col-md-4.col-sm-6.col-xs-12
            .mobile_tour__advantages__block.mobile_tour__advantages__block--border.mobile_tour__advantages__block--mobile.wow.zoomIn(data-wow-duration='1s')
              .mobile_tour__advantages__block__img
                img(src='img/icon/help-support.png', srcset='img/icon/help-support@2x.png 2x, img/icon/help-support@3x.png 3x')
              .mobile_tour__advantages__block__text
                strong Help & Support
                p Always a call, message or mail away. Everyone is a premium customer!
          .col-md-4.col-sm-6.col-xs-12
            .mobile_tour__advantages__block.mobile_tour__advantages__block--border.wow.zoomIn(data-wow-duration='1s')
              .mobile_tour__advantages__block__img
                img(src='img/icon/personalized.png', srcset='img/icon/personalized@2x.png 2x, img/icon/personalized@3x.png 3x')
              .mobile_tour__advantages__block__text
                strong Personalized Training
                p Personal training sessions tailored specific to your industry.
          .col-md-4.col-sm-6.col-xs-12
            .mobile_tour__advantages__block.mobile_tour__advantages__block--border.mobile_tour__advantages__block--right.mobile_tour__advantages__block--right-1.wow.zoomIn(data-wow-duration='1s')
              .mobile_tour__advantages__block__img
                img(src='img/icon/intuitive.png', srcset='img/icon/intuitive@2x.png 2x, img/icon/intuitive@3x.png 3x')
              .mobile_tour__advantages__block__text.mobile_tour__advantages__block__text--border
                strong Intuitive Interface
                p Simple enough to use, requires no technical skills.
    section.product__advantages
      .container
        .row
          .col-xs-12
            .product__advantages__block.product__advantages__block--red.wow.slideInLeft(data-wow-duration='1s')
              .product__advantages__block__img
                img(src='img/icon/security.png', srcset='img/icon/security@2x.png 2x, img/icon/security@3x.png 3x')
              .product__advantages__block__text
                h2 Security
                p We employ the best in class security protocols to protect data and application 
                ul
                  li
                    | Platform hosted on AWS
                    img(src='img/icon/tick-mark-white.png', srcset='img/icon/tick-mark-white@2x.png 2x, img/icon/tick-mark-white@3x.png 3x')
                  li
                    | Data Encrypted with AES, 128-bit key length
                    img(src='img/icon/tick-mark-white.png', srcset='img/icon/tick-mark-white@2x.png 2x, img/icon/tick-mark-white@3x.png 3x')
                  li
                    | Data transmission is over SSL
                    img(src='img/icon/tick-mark-white.png', srcset='img/icon/tick-mark-white@2x.png 2x, img/icon/tick-mark-white@3x.png 3x')
                a.btn.btn-secondary(href='security.html')
                  | learn more
                  i.icon.icon-arrow-right
    section.mobile_tour__relations.relations-1
      .container
        .row.center-xs
          .col-sm-7.col-xs-12
            h2 Start transforming your customers into life time promoters.
            a.btn.btn-primary(href='#schedule', rel='modal:open') Schedule a demo
