---
title: Product
---
extends layouts/_layout
block content
  .product
    section.product__intro
      .container
        .row.middle-xs
          .col-xs-6
            .product__intro__img
              img(src="img/product/web-app-ipad.png" srcset="img/product/web-app-ipad@2x.png 2x, img/product/web-app-ipad@3x.png 3x")
          .col-xs-6
            h1 Digital Experience Platform
              span (To create Digital Kits)
            p Its the world’s first Customer Convenience Manageement Platform used to create NHANCE NOW’s revolutionary Digital Kits.
    section.product__transform
      .container
        .product__transform__title
          h2 Transform Every Stage of the Post Purchase Journey
          p Bring together all your post purchase channels to improve service, support, up sell, inisghts gathering <br>and marketing automation and offer a seamless journey to your customers
      .product__transform__content
        .container
          .product__transform__row
            .product__transform__block.product__transform__block--1
              .product__transform__block__info
                img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                strong Adoption
                p Enable frictionless onboarding to get customers up and running quickly
                a(href="#") Learn More
                  i.icon.icon-arrow-right-2
              .product__transform__block__list
                span
                ul
                  li Help Center
                  li Support
                  li Feedback
                  li Onboarding
                  li Self Service
            .product__transform__block.product__transform__block--2
              .product__transform__block__info
                img(src="img/icon/retention.png" srcset="img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x")
                strong Retention
                p Predictive, contextual & personalised interactions with deep user intelligence.
                a(href="#") Learn More
                  i.icon.icon-arrow-right-2
              .product__transform__block__list
                span
                ul
                  li Lifecycle Messaging
                  li Customer Insights
                  li Analytics
            .product__transform__block.product__transform__block--3
              .product__transform__block__info
                img(src="img/icon/expansion.png" srcset="img/icon/expansion@2x.png 2x, img/icon/expansion@3x.png 3x")
                strong Expansion
                p Leverage automation to unlock hidden revenue. Easier cross selling & up selling.
                a(href="#") Learn More
                  i.icon.icon-arrow-right-2
              .product__transform__block__list
                span
                ul
                  li Up Sell
                  li Cross Sell
            .product__transform__block.product__transform__block--4
              .product__transform__block__info
                img(src="img/icon/advocacy.png" srcset="img/icon/advocacy@2x.png 2x, img/icon/advocacy@3x.png 3x")
                strong Advocacy
                p Engage, incentivise & reward customers to amplify brand promotion.
                a(href="#") Learn More
                  i.icon.icon-arrow-right-2
              .product__transform__block__list
                span
                ul
                  li Cross Sell
                  li Cross Sell
    section.product__capability
      .container
        .product__capability__block
          .row.middle-xs
            .col-xs-6
              strong INTEGRATIONS
              h3 Seamless integration with your existing IT systems
              p NHANCENOW works smoothly with IT applications. And if you would like to use it as a standalone platform, it’s a powerful tool in itself!
              p Effortlessly connect to your existing sales, commerce, marketing, CRM, messaging/communications, data intelligence, customer support, reporting, analytics, knowledgebase and ticketing management systems.
            .col-xs-6.start-xs
              .product__capability__block__img.product__capability__block__img--logos
                img(src="img/product/logos.png" srcset="img/product/logos@2x.png 2x, img/product/logos@3x.png 3x")
                b See all integrations
        .product__capability__block
          .row.middle-xs
            .col-xs-6
              .product__capability__block__img.product__capability__block__img--white
                img(src="img/product/img-01.png" srcset="img/product/img-01@2x.png 2x, img/product/img-01@3x.png 3x")
            .col-xs-5.col-xs-offset-1
              h3 Machine learning to generate deep user insights
              p Bring all your post purchase customers interaction channels together within a single platform and discover the new ways of value creation and benefits from every channel.
        .product__capability__block
          .row.middle-xs
            .col-xs-6
              h3 Dashboards & Reporting
              p Bring all your post purchase customers interaction channels together within a  single platform and discover the new ways of value creation and benefits from every channel.
            .col-xs-6.start-xs
              .product__capability__block__img
                img(src="img/product/img-02.png" srcset="img/product/img-02@2x.png 2x, img/product/img-02@3x.png 3x")
        .product__capability__block
          .row.middle-xs
            .col-xs-6
              .product__capability__block__img
                img(src="img/product/img-03.png" srcset="img/product/img-03@2x.png 2x, img/product/img-03@3x.png 3x")
            .col-xs-5.col-xs-offset-1
              h3 Hyper Personalization
              p Bring all your post purchase customers interaction channels together within a single platform and discover the new ways of value creation and benefits from every channel.
        .product__capability__block
          .row.middle-xs
            .col-xs-6
              h3 Built for Scale
              p Bring all your post purchase customers interaction channels together within a single platform and discover the new ways of value creation and benefits from every channel.
            .col-xs-6.end-xs.flex
              .product__capability__block__img.product__capability__block__img--white
                img(src="img/product/img-04.png" srcset="img/product/img-04@2x.png 2x, img/product/img-04@3x.png 3x")
    section.mobile_tour__advantages
      .container
        .mobile_tour__advantages__title
          h2 Other Platform Highlights
          p Modernize and simplify experience for your customers
        .row
          .col-xs-4
            .mobile_tour__advantages__block
              .mobile_tour__advantages__block__img
                img(src="img/icon/easy-stepup.png" srcset="img/icon/easy-stepup@2x.png 2x, img/icon/easy-stepup@3x.png 3x")
              .mobile_tour__advantages__block__text
                strong Easy Setup
                p Plug-n-play modules. Get started quickly. Scale as you go along.
          .col-xs-4
            .mobile_tour__advantages__block
              .mobile_tour__advantages__block__img
                img(src="img/icon/pay-per-use.png" srcset="img/icon/pay-per-use@2x.png 2x, img/icon/pay-per-use@3x.png 3x")
              .mobile_tour__advantages__block__text
                strong Pay Per Use 
                p Pay only for what you use. No setup fees. No surprises!
          .col-xs-4
            .mobile_tour__advantages__block
              .mobile_tour__advantages__block__img
                img(src="img/icon/highly-secure.png" srcset="img/icon/highly-secure@2x.png 2x, img/icon/highly-secure@3x.png 3x")
              .mobile_tour__advantages__block__text.mobile_tour__advantages__block__text--border
                strong Highly Secure 
                p Hosted on AWS. All your data is encrypted using 128-bit AES encryption
          .col-xs-4
            .mobile_tour__advantages__block.mobile_tour__advantages__block--border
              .mobile_tour__advantages__block__img
                img(src="img/icon/help-support.png" srcset="img/icon/help-support@2x.png 2x, img/icon/help-support@3x.png 3x")
              .mobile_tour__advantages__block__text
                strong Help & Support
                p Always a call, message or mail away. Everyone is a premium customer!
          .col-xs-4
            .mobile_tour__advantages__block.mobile_tour__advantages__block--border
              .mobile_tour__advantages__block__img
                img(src="img/icon/personalized.png" srcset="img/icon/personalized@2x.png 2x, img/icon/personalized@3x.png 3x")
              .mobile_tour__advantages__block__text
                strong Personalized Training
                p Personal Training sessions tailored specific to your industry.
          .col-xs-4
            .mobile_tour__advantages__block.mobile_tour__advantages__block--border
              .mobile_tour__advantages__block__img
                img(src="img/icon/intuitive.png" srcset="img/icon/intuitive@2x.png 2x, img/icon/intuitive@3x.png 3x")
              .mobile_tour__advantages__block__text.mobile_tour__advantages__block__text--border
                strong Intuitive Interface
                p Works with all your existing IT systems and 3rd party applications
    section.product__advantages
      .container
        .row
          .col-xs-12
            .product__advantages__block.product__advantages__block--red
              .product__advantages__block__img
                img(src="img/icon/security.png" srcset="img/icon/security@2x.png 2x, img/icon/security@3x.png 3x")
              .product__advantages__block__text
                h2 Security
                p We deploy the best in class security protocols to protect data and application 
                ul
                  li Platform hosted on AWS
                    img(src="img/icon/tick-mark.png" srcset="img/icon/tick-mark@2x.png 2x, img/icon/tick-mark@3x.png 3x")
                  li Data Encrypted with AES, 128-bit key length
                    img(src="img/icon/tick-mark.png" srcset="img/icon/tick-mark@2x.png 2x, img/icon/tick-mark@3x.png 3x")
                  li Data transmission is over SSL
                    img(src="img/icon/tick-mark.png" srcset="img/icon/tick-mark@2x.png 2x, img/icon/tick-mark@3x.png 3x")
                a(href="#").btn.btn-primary learn more
                  i.icon.icon-arrow-right
    section.mobile_tour__relations.relations
      .container
        .row.center-xs
          .col-sm-7.col-xs-12
            h2 Start transforming your customers into life time promoters
            a(href="#").btn.btn-primary Schedule a demo