---
title: Retention
header: app-function
---
extends layouts/_layout
block content
  .app-function.retention
    section.app-function__intro
      .container
        .app-function__intro__content.wow.fadeInUp(data-wow-duration="1s")
          img(src="img/app-function/retention/retention-human.png" srcset="img/app-function/retention/retention-human@2x.png 2x, img/app-function/retention/retention-human@3x.png 3x")
          .row.center-xs
            .col-md-8.col-xs-12.start-xs
              .app-function__intro__block
                strong engage
                h1 Your Best Customer<br> is Your Returning Customer
                p Achieve high customer loyalty with data-driven <br>contextual and personalized campaigns
    section.app-function__description
      .container
        p Having a deep understanding of customer needs; and engaging with them at key stages of their journey helps improve the quality and outcomes of interactions. NHANCE NOW provides advanced machine learning to help you gather rich customer insights. It also provides a slew of tools – feedback, push notifications, offers, smart notifications - to engage with them throughout their lifecycle.
    section.app-function__examples
      .container
        h2 Use cases
      .app-function__examples__content
        .container
          .app-function__examples__block
            .row.middle-xs
              .col-sm-5.col-xs-12.wow.fadeInUp(data-wow-duration="1.5s")
                h3 Push Notifications
                p Send alerts, updates, messages, greetings, information on new launches, payment alerts, product updates. Use a variety of demographical segmentation to reach the right audience to make the maximum impact. Our detailed visual charts help you to measure the performance of each campaign
              .col-sm-6.col-xs-12.col-sm-offset-1
                .app-function__examples__block__img.wow.fadeInRight(data-wow-duration="1.5s")
                  img(src="img/app-function/retention/retention-img-01.png" srcset="img/app-function/retention/retention-img-01@2x.png 2x, img/app-function/retention/retention-img-01@3x.png 3x")
          .app-function__examples__block
            .row.middle-xs
              .col-sm-6.col-xs-12.last-xs
                .app-function__examples__block__img.wow.fadeInLeft(data-wow-duration="1.5s")
                  img(src="img/app-function/retention/retention-img-02.png" srcset="img/app-function/retention/retention-img-02@2x.png 2x, img/app-function/retention/retention-img-02@3x.png 3x")
              .col-sm-5.col-xs-12.col-sm-offset-1.last-sm.wow.fadeInUp(data-wow-duration="1.5s")
                h3 Feedback Management
                p Listening to the voice of the consumer as they traverse through your product and/or services journey is critical, to improvise your customer experience delivery. With NHANCE NOW’s feedback gathering tool you can easily capture your customer’s sentiments, run surveys and measure brand experience.
                p Choose from either a 1-5 star rating interface or ask multiple questions with multiple answers. Performance of each feedback campaign can be measured and analysed with a summary list or detailed graphical view.
          .app-function__examples__block
            .row.middle-xs
              .col-sm-5.col-xs-12.wow.fadeInUp(data-wow-duration="1.5s")
                h3 Personalization – Speak 1-1 to your customers
                p The days of one-size-fits-all are bygone. NHANCE NOW’s data engine allows you to configure customer interactions with precision. With 360° customer information you can tailor interactions to add depth, context and meaning.
                p Address customers by their name, greet them on important occasions, send them marketing information which is relevant to them, make smart recommendations and provide customised offers
              .col-sm-6.col-xs-12.col-sm-offset-1
                .app-function__examples__block__img.wow.fadeInRight(data-wow-duration="1.5s")
                  img(src="img/app-function/retention/retention-img-03.png" srcset="img/app-function/retention/retention-img-03@2x.png 2x, img/app-function/retention/retention-img-03@3x.png 3x")
          .app-function__examples__block
            .row.middle-xs
              .col-sm-6.col-xs-12.last-xs
                .app-function__examples__block__img.wow.fadeInLeft(data-wow-duration="1.5s")
                  img(src="img/app-function/retention/retention-img-04.png" srcset="img/app-function/retention/retention-img-04@2x.png 2x, img/app-function/retention/retention-img-04@3x.png 3x")
              .col-sm-5.col-xs-12.col-sm-offset-1.last-sm.wow.fadeInUp(data-wow-duration="1.5s")
                h3 Smart Notifications
                p Engaging with customers throughout the lifetime enables you to positively influence their choices. To help you meaningfully engage with a large number of customers, our systems use a mix of real-time analytics, machine learning and transaction monitoring. Our powerful business rules allow you to trigger messages, notifications, alerts and reminders based on occurrence of pre-defined events. 
          .app-function__examples__block
            .row.middle-xs
              .col-sm-5.col-xs-12.wow.fadeInUp(data-wow-duration="1.5s")
                h3 User Intelligence Gathering 
                p Understand your customers better with actionable data analytics. Data gives us trends and insights with uncanny accuracy. And with NHANCE NOW powerful “user intelligence” gathering tools you can gain deep insights, anticipate customer needs and offer solutions even before customers realize they need it!
                p Track the kind of videos they watch, the segments they visit, the kind of messages that peak their interest, and more.
              .col-sm-6.col-xs-12.col-sm-offset-1
                .app-function__examples__block__img.wow.fadeInRight(data-wow-duration="1.5s")
                  img(src="img/app-function/retention/retention-img-05.png" srcset="img/app-function/retention/retention-img-05@2x.png 2x, img/app-function/retention/retention-img-05@3x.png 3x")
    section.app-function__start
      .container
        h2 Start transforming your customers into life time promoters
        a(href="#").btn.btn-primary request a demo