---
title: Customers story Souq
header: app-function
---
extends layouts/_layout
block content
  .customers-story
    section.customers-story__intro
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h1 Simplifying Product Registration
            img(src="img/customers/souq@3x.png")
            .customers-story__intro__btn
              a(href="#").btn.btn-secondary previous
              a(href="#").btn.btn-secondary next