---
title: Customers story Souq
header: app-function
---
extends layouts/_layout
block content
  .customers-story.souq
    section.customers-story__intro
      .container
        .row.center-xs
          .col-md-8.col-xs-12.start-xs
            h1 Simplifying Product Registration
            img(src="img/customers/souq@3x.png")
            //- .customers-story__intro__btn
            //-   a(href="#").btn.btn-secondary previous
            //-   a(href="#").btn.btn-secondary next
    .customers-story__content
      .container
        .row
          .col-md-3.col-sm-5.col-xs-12
            aside.aside
              h3 Features that they love
              .aside__block
                strong Self Service
                p Helps them save on support workforce and automate product training and demos.
              .aside__block
                strong Cross Sell Feature
                p
                  | Souq2020 sells to a number of premium customers. They wanted an easy way to cross promote complimentary products.
              .aside__block
                strong Service Ticket Management
                p
                  | Being a young brand Souq2020 wanted an integrated platform where in they could manage customer experience and customer support. NHANCE NOW’s simple, no frills service ticket management module eliminated the need to invest in a ticketing management system and helped them tame their customer support costs.
              h3 modules used
              .aside__block-modules
                ul
                  li
                    .aside__block-modules__img
                      img(src='img/icon/adoption.png', srcset='img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x')
                    | Onboard
                  li
                    .aside__block-modules__img
                      img(src='img/icon/retention.png', srcset='img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x')
                    | Instacare
          .col-md-8.col-sm-7.col-xs-12
            .customers-story__text
              h3
                | How 
                span Redfox 
                | uses NHANCE NOW to simplify product registration and capture customer information
              h2 The Challenge
              p
                | Redfox is an ambitious young brand which has designed a slick customer experience strategy to retain and delight users. However the challenge that they faced was they had data of only 17% of their customers. Redfox operates through a vast dealer network. Due to operational dynamics of manufacturer – retailer Redfox was struggling to acquire customer data. Retailers capture inadequate customer data and are usually reluctant to share whatever data they have with the parent brand. As result it was difficult for them to engage directly with their customers and offer them an experience which reflected their brand value.
              p
                | Redfox adopted an incentivised campaign to acquire customer data. They offered customers a free 2 year extended warranty upgrade for all their products, if the customer visited their website and registered the product. customers had to fill in their name, email, contact number, product model number, invoice number, invoice copy, date of purchase and purchase price. However Redfox only managed to get a mere 4% increase in acquiring customer data through this process. The process was cumbersome, involved visiting a website, filling up a form. It was overwhelming for customers.
              h2 After adopting NHANCE NOW
              p
                | Redfox decided to sample NHANCE NOW’s product registration feature. A small group of around two thousand customers were offered the facility to register their products through the NHANCE NOW mobile app. customers were required to download the application, register with a their name, email and mobile number and then scan the serial number of the product to complete the registration process! 
                br
                | Redfox also rewarded them instantly with NHANCE NOW’s proprietary Digital Kit along with a certificate of extended warranty extension. This process was simpler, smoother and as it was mobile optimized the participation rate increased manifold. customers found it easier to go through the entire process without the need to change the device or medium of their choice.
              p
                | Within 2 weeks of implementation Redfox saw an increase of 27% in product registration. Redfox had a much larger set of customers with whom they could engage directly.
            .customers-story__quote
              img(src='img/icon/quote-icon.png', srcset='img/icon/quote-icon@2x.png 2x, img/icon/quote-icon@3x.png 3x')
              p
                | “Dealing with our customers directly and offering them a customer experience that they deserve is at the core of our business culture. NHANCE NOW’s simple mechanism allowed us to easily capture customer data while making the process seamless for them. It also allowed us to bring them onto the NHANCE NOW ecosystem. We now have a 24/7 connect with our customers and offer them all post purchase interactions with a few taps”
              b Hiren Modi, CEO
