---
title: Support
header: app-function
---
extends layouts/_layout
block content
  .app-function.support
    section.app-function__intro
      .container
        .app-function__intro__content.wow.fadeInUp(data-wow-duration="1s")
          img(src="img/app-function/support/support-human.png" srcset="img/app-function/support/support-human@2x.png 2x, img/app-function/support/support-human@3x.png 3x")
          .row.center-xs
            .col-md-8.col-sm-10.col-xs-12.start-xs
              .app-function__intro__block
                strong INSTACARE
                h1 On Demand & Conversational
                p Give customers the control to resolve queries on their own and get trained with knowledgebases and various support channels
    section.app-function__description
      .container
        p A modern customer wants control on how and when to resolve their issues, take training or simply learn about new features and functionalities. NHANCE NOW helps you deliver these through a variety of support channels which are self managing. It transfers control of the support services directly to customers and lets them control the frequency, pace and channel of choice.
    section.app-function__examples
      .container
        h2 Use cases
      .app-function__examples__content
        .container
          .app-function__examples__block
            .row.middle-xs
              .col-sm-5.col-xs-12.wow.fadeInUp(data-wow-duration="1.5s")
                h3 Help Center
                p Every product or service comes with opportunities for upselling. With our intelligent mapping system, you can present complementary product add-ons, accessories and provide higher value upgrades of the original product or service. It helps you increase the average revenue per user.
              .col-sm-6.col-xs-12.col-sm-offset-1
                .app-function__examples__block__img.wow.fadeInRight(data-wow-duration="1.5s")
                  img(src="img/app-function/support/support-img-01.png" srcset="img/app-function/support/support-img-01@2x.png 2x, img/app-function/support/support-img-01@3x.png 3x")
          .app-function__examples__block
            .row.middle-xs
              .col-sm-6.col-xs-12.last-xs
                .app-function__examples__block__img.wow.fadeInLeft(data-wow-duration="1.5s")
                  img(src="img/app-function/support/support-img-02.png" srcset="img/app-function/support/support-img-02@2x.png 2x, img/app-function/support/support-img-02@3x.png 3x")
              .col-sm-5.col-xs-12.col-sm-offset-1.last-sm.wow.fadeInUp(data-wow-duration="1.5s")
                h3 Do it Yourself (DIY)
                p The future of product and services training is “doing it ourselves”. Provide rich media files, on-demand videos, digital documents, tips and tricks to aid customers gain knowledge about your products and services without any external aid.
                p Eliminate the need of human resources for assisting customers and enable anytime, anywhere learning. 
          .app-function__examples__block
            .row.middle-xs
              .col-sm-5.col-xs-12.wow.fadeInUp(data-wow-duration="1.5s")
                h3 Live Chat
                p Care plans (like extended warranty, insurance, AMCs) are extremely popular in the consumer products segment. They help protect products from accidental damage and offer peace of mind to customers. Reduce the friction in selling care plans by eliminating long forms and complex process with easy Tap-n-Buy features on the customer’s mobile interface.
              .col-sm-6.col-xs-12.col-sm-offset-1
                .app-function__examples__block__img.wow.fadeInRight(data-wow-duration="1.5s")
                  img(src="img/app-function/support/support-img-03.png" srcset="img/app-function/support/support-img-03@2x.png 2x, img/app-function/support/support-img-03@3x.png 3x")
    section.app-function__start
      .container
        h2 Start transforming your customers into life time promoters
        a(href="#").btn.btn-primary request a demo