---
title: Our Team – NHANCE NOW
"description": "The management structure and profiles of top NHANCE NOW executives."
header: app-function
---
extends layouts/_layout
block content
  .team
    .team__title
      .container
        .row.center-xs
          .col-md-6.col-sm-10.col-xs-12
            h1
              strong driven by 
              | Passionate People
            p
              | The NHANCE NOW leadership team brings together years of experience building analytics products and business-to-business software companies.
    .team__content-first
      .container
        .row
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-15@3x.png')
              .team__block__info
                strong Alok Ranjan Subudhi
                p Founder | CEO 
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/team-02@3x.png')
              .team__block__info
                strong Praveen Deherkar
                p Co-Founder | CEO - GCC Region
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-14@3x.png')
              .team__block__info
                strong Nishith Patnaik
                p Co-Founder | Head-Product & Marketing
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-16@3x.png')
              .team__block__info
                strong Manabendra Pattnaik
                p Co-Founder | Head - Engineering
                a(href='#')
                  i.icon.icon-linkedin
    .team__content
      .container
        .row
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-17@3x.png')
              .team__block__info
                strong Saroj Kumar Biswal
                p Sr. Technical Lead
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-18@3x.png')
              .team__block__info
                strong Mohammad Afsar Hussain
                p Sr. Technical Lead - iOS/ Android
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-19@3x.png')
              .team__block__info
                strong Vaishakh Pilatholi
                p Head - Design
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-20@3x.png')
              .team__block__info
                strong Pavan V
                p Customer Advocate
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-34@3x.png')
              .team__block__info
                strong Tanmay Srivastava
                p Sales Head - USA
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-39@3x.png')
              .team__block__info
                strong Kunjabihari Kar
                p Sr.Customer Advocate
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__hover
                p We are who we are. Original forever.
                a.btn.btn-secondary(href='#') careers
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-43@3x.png')
              .team__block__info
                strong Arifmohmad Rajakbhai Mansuri
                p Lead- Project Management Operations
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-30@3x.png')
              .team__block__info
                strong Suraj G Rao
                p Lead - Product and Business Analyst
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-35@3x.png')
              .team__block__info
                strong Dhakshayini Gopalaiah
                p Head - People Experience
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-28@3x.png')
              .team__block__info
                strong Javeed Khan
                p Technical Lead - Android
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-29@3x.png')
              .team__block__info
                strong Sambit Kumar Swain
                p Sr. Technical Lead
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-37@3x.png')
              .team__block__info
                strong Joe Balan A
                p Sr. Full Stack Engineer
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-42@3x.png')
              .team__block__info
                strong Vinoth A
                p Sr. Technical Lead
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-48@3x.png')
              .team__block__info
                strong Swadhin Nayak
                p Sr. Technical Lead
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-45@3x.png')
              .team__block__info
                strong Ajinkya Gajare
                p Full Stack Engineer
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-50@3x.png')
              .team__block__info
                strong Shailendra Bhargava
                p Full Stack Engineer
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-22@3x.png')
              .team__block__info
                strong Rajlaxmi Singh
                p Full Stack Engineer
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-38@3x.png')
              .team__block__info
                strong Shashank Bhavsar
                p Android Engineer
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
              .team__block__info
                strong Praneeth Rahul
                p Sr Software Engineer - Android
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-23@3x.png')
              .team__block__info
                strong Nupur Mohanty
                p Front End Engineer
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-21@3x.png')
              .team__block__info
                strong Sonal Jain
                p Full Stack Engineer
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-36@3x.png')
              .team__block__info
                strong Dennis Korah
                p Sr.Technical Architect
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-31@3x.png')
              .team__block__info
                strong Nawin Kumar
                p Software Engineer - iOS
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
              .team__block__info
                strong Peeyush Kheria
                p Sales Head - Singapore
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-46@3x.png')
              .team__block__info
                strong Niranjan Behera
                p Sales Executive
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-27@3x.png')
              .team__block__info
                strong Neethu Lakshmanan
                p Inside Sales Executive
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
              .team__block__info
                strong Shashank Shrivastava
                p Manager - Customer Success
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-26@3x.png')
              .team__block__info
                strong Vimal Gopal
                p Manager - Marketing & Demand Generation
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-44@3x.png')
              .team__block__info
                strong Navaneeth Madhusoodanan
                p Lead - Customer Advocate
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-40@3x.png')
              .team__block__info
                strong Deepti Bhusan Nayak
                p QA Engineer
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-32@3x.png')
              .team__block__info
                strong Mithun Hirave
                p Sr. QA Engineer
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-47@3x.png')
              .team__block__info
                strong Roopashree SN
                p Principal Lead - QA
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-25@3x.png')
              .team__block__info
                strong Pallavi Mohanta
                p QA Engineer
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-24@3x.png')
              .team__block__info
                strong Lopamudra Das
                p QA Engineer
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-33@3x.png')
              .team__block__info
                strong Manmohan Dash
                p Sr. Test Engineer - Automation
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
              .team__block__info
                strong Vinutha kumari
                p Inside Sales Representative
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
              .team__block__info
                strong raghavendra
                p Sr. Product Analyst
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-53@3x.png')
              .team__block__info
                strong Sanjeeb Bishoi
                p Sr.Customer Advocate
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-51@3x.png')
              .team__block__info
                strong Sridhar R N
                p Sr. Finance Associate
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
              .team__block__info
                strong Siddaraja Shivkumar
                p Lead - Finance & Accounts
                a(href='#')
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-52@3x.png')
              .team__block__info
                strong Chiranjiv Rout
                p QA Engineer
                a(href='#')
                  i.icon.icon-linkedin
