---
title: Team
header: app-function
---
extends layouts/_layout
block content
  .team
    .team__title
      .container
        .row.center-xs
          .col-md-6.col-sm-10.col-xs-12
            h1
              strong driven by 
              | Passionate People
            p The NHANCE NOW leadership team brings together years of experience building analytics products and business-to-business software companies.
    .team__content-first
      .container
        .row
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-15.png" srcset="img/team/layer-15@2x.png 2x, img/team/layer-15@3x.png 3x")
              .team__block__info
                strong Alok Ranjan Subudhi
                p Co-Founder | CEO	
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/team-02.png" srcset="img/team/team-02@2x.png 2x, img/team/team-02@3x.png 3x")
              .team__block__info
                strong Praveen Deherkar
                p Chief Executive Officer - GCC
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-14.png" srcset="img/team/layer-14@2x.png 2x, img/team/layer-14@3x.png 3x")
              .team__block__info
                strong Nishith Patnaik
                p
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-16.png" srcset="img/team/layer-16@2x.png 2x, img/team/layer-16@3x.png 3x")
              .team__block__info
                strong Manabendra Pattnaik
                p Co-Founder | Head - Engineering
                a(href="#")
                  i.icon.icon-linkedin
    .team__content
      .container
        .row
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-17.png" srcset="img/team/layer-17@2x.png 2x, img/team/layer-17@3x.png 3x")
              .team__block__info
                strong Saroj Kumar Biswal
                p Sr. Software Engineer	
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-18.png" srcset="img/team/layer-18@2x.png 2x, img/team/layer-18@3x.png 3x")
              .team__block__info
                strong Mohammad Afsar Hussain
                p Lead - Mobile 
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-19.png" srcset="img/team/layer-19@2x.png 2x, img/team/layer-19@3x.png 3x")
              .team__block__info
                strong Vaishakh Pilatholi
                p Head - Design
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-20.png" srcset="img/team/layer-20@2x.png 2x, img/team/layer-20@3x.png 3x")
              .team__block__info
                strong Pavan V
                p Customer Advocate
                a(href="#")
                  i.icon.icon-linkedin

          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-34.png" srcset="img/team/layer-34@2x.png 2x, img/team/layer-34@3x.png 3x")
              .team__block__info
                strong Tanmay Srivastava
                p Sales - India & USA
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-39.png" srcset="img/team/layer-39@2x.png 2x, img/team/layer-39@3x.png 3x")
              .team__block__info
                strong Kunjabihari Kar
                p Sr.Customer Advocate
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__hover
                p We are who we are. Original forever.
                a(href="#").btn.btn-secondary careers
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-43.png" srcset="img/team/layer-43@2x.png 2x, img/team/layer-43@3x.png 3x")
              .team__block__info
                strong Arifmohmad Rajakbhai Mansuri
                p Lead - Project Management
                a(href="#")
                  i.icon.icon-linkedin

          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-30.png" srcset="img/team/layer-30@2x.png 2x, img/team/layer-30@3x.png 3x")
              .team__block__info
                strong Suraj G Rao
                p Lead - Product and Business Analyst
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-35.png" srcset="img/team/layer-35@2x.png 2x, img/team/layer-35@3x.png 3x")
              .team__block__info
                strong Dhakshayini Gopalaiah
                p Head - People Experience
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-28.png" srcset="img/team/layer-28@2x.png 2x, img/team/layer-28@3x.png 3x")
              .team__block__info
                strong Javeed Khan
                p Technical Lead - Android
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-29.png" srcset="img/team/layer-29@2x.png 2x, img/team/layer-29@3x.png 3x")
              .team__block__info
                strong Sambit Kumar Swain
                p Lead - Infra & DB
                a(href="#")
                  i.icon.icon-linkedin

          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-37.png" srcset="img/team/layer-37@2x.png 2x, img/team/layer-37@3x.png 3x")
              .team__block__info
                strong Joe Balan A
                p Sr. Full Stack Engineer
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-42.png" srcset="img/team/layer-42@2x.png 2x, img/team/layer-42@3x.png 3x")
              .team__block__info
                strong Vinoth A
                p Sr. Software Engineer
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-48.png" srcset="img/team/layer-48@2x.png 2x, img/team/layer-48@3x.png 3x")
              .team__block__info
                strong Swadhin Nayak
                p Sr. Software Engineer
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-45.png" srcset="img/team/layer-45@2x.png 2x, img/team/layer-45@3x.png 3x")
              .team__block__info
                strong Ajinkya Gajare
                p Head - Design
                a(href="#")
                  i.icon.icon-linkedin
                
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-50.png" srcset="img/team/layer-50@2x.png 2x, img/team/layer-50@3x.png 3x")
              .team__block__info
                strong Shailendra Bhargava
                p Full Stack Engineer
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-22.png" srcset="img/team/layer-22@2x.png 2x, img/team/layer-22@3x.png 3x")
              .team__block__info
                strong Rajlaxmi Singh
                p Full Stack Engineer
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-38.png" srcset="img/team/layer-38@2x.png 2x, img/team/layer-38@3x.png 3x")
              .team__block__info
                strong Shashank Bhavsar
                p Android Engineer
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
              .team__block__info
                strong Praneeth Rahul
                p Sr.Android Engineer
                a(href="#")
                  i.icon.icon-linkedin
                
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-23.png" srcset="img/team/layer-23@2x.png 2x, img/team/layer-23@3x.png 3x")
              .team__block__info
                strong Nupur Mohanty
                p Full Stack Engineer
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-21.png" srcset="img/team/layer-21@2x.png 2x, img/team/layer-21@3x.png 3x")
              .team__block__info
                strong Sonal Jain
                p Full Stack Engineer
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-36.png" srcset="img/team/layer-36@2x.png 2x, img/team/layer-36@3x.png 3x")
              .team__block__info
                strong Dennis Korah
                p Sr. Architect
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-31.png" srcset="img/team/layer-31@2x.png 2x, img/team/layer-31@3x.png 3x")
              .team__block__info
                strong Nawin Kumar
                p iOS Engineer
                a(href="#")
                  i.icon.icon-linkedin
                
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
              .team__block__info
                strong Peeyush Kheria
                p Lead Sales - Singapore
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-46.png" srcset="img/team/layer-46@2x.png 2x, img/team/layer-46@3x.png 3x")
              .team__block__info
                strong Niranjan Behera
                p Sales Executive
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-27.png" srcset="img/team/layer-27@2x.png 2x, img/team/layer-27@3x.png 3x")
              .team__block__info
                strong Neethu Lakshmanan
                p Lead - Inbound Sales
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
              .team__block__info
                strong Shashank Shrivastava
                p Lead - Customer Success
                a(href="#")
                  i.icon.icon-linkedin
                
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-26.png" srcset="img/team/layer-26@2x.png 2x, img/team/layer-26@3x.png 3x")
              .team__block__info
                strong Vimal Gopal
                p Lead - Marketing
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-44.png" srcset="img/team/layer-44@2x.png 2x, img/team/layer-44@3x.png 3x")
              .team__block__info
                strong Navaneeth Madhusoodanan
                p Sr. Customer Advocate
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-40.png" srcset="img/team/layer-40@2x.png 2x, img/team/layer-40@3x.png 3x")
              .team__block__info
                strong Deepti Bhusan Nayak
                p QA Engineer
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-32.png" srcset="img/team/layer-32@2x.png 2x, img/team/layer-32@3x.png 3x")
              .team__block__info
                strong Mithun Hirave
                p Sr. QA Engineer
                a(href="#")
                  i.icon.icon-linkedin
                
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-47.png" srcset="img/team/layer-47@2x.png 2x, img/team/layer-47@3x.png 3x")
              .team__block__info
                strong Roopashree SN
                p Lead - QA
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-25.png" srcset="img/team/layer-25@2x.png 2x, img/team/layer-25@3x.png 3x")
              .team__block__info
                strong Pallavi Mohanta
                p QA Engineer
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-24.png" srcset="img/team/layer-24@2x.png 2x, img/team/layer-24@3x.png 3x")
              .team__block__info
                strong Lopamudra Das
                p QA Engineer
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-33.png" srcset="img/team/layer-33@2x.png 2x, img/team/layer-33@3x.png 3x")
              .team__block__info
                strong Manmohan Dash
                p Sr. Automation Engineer
                a(href="#")
                  i.icon.icon-linkedin
                
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
              .team__block__info
                strong Vinutha kumari
                p Lead - Inbound Sales
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
              .team__block__info
                strong raghavendra
                p Chief Executive Officer - GCC
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-53.png" srcset="img/team/layer-53@2x.png 2x, img/team/layer-53@3x.png 3x")
              .team__block__info
                strong Sanjeeb Bishoi
                p Sr.Customer Advocate
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-51.png" srcset="img/team/layer-51@2x.png 2x, img/team/layer-51@3x.png 3x")
              .team__block__info
                strong Sridhar R N
                p Lead - Finance & Accounts
                a(href="#")
                  i.icon.icon-linkedin
                
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
              .team__block__info
                strong Siddaraja Shivkumar
                p Lead - Finance & Accounts
                a(href="#")
                  i.icon.icon-linkedin
          .col-md-3.col-sm-6.col-xs-12
            .team__block
              .team__block__img
                img(src="img/team/layer-52.png" srcset="img/team/layer-52@2x.png 2x, img/team/layer-52@3x.png 3x")
              .team__block__info
                strong Chiranjiv Rout
                p QA Engineer
                a(href="#")
                  i.icon.icon-linkedin