---
title: Personalize Your Cross-sells and Upsells – NHANCE NOW
"description": "Create simple and automated cross-sell and upsell opportunities to increase revenue from existing customer base by 2X."
header: app-function
---
extends layouts/_layout
block content
  .app-function.expansion.app-function-scroll
    section.app-function__intro
      .container
        .app-function__intro__content.wow.fadeInUp(data-wow-duration='1s')
          img(src='img/app-function/expansion/expansion-human.png', srcset='img/app-function/expansion/expansion-human@2x.png 2x, img/app-function/expansion/expansion-human@3x.png 3x')
          .row.center-xs
            .col-md-10.col-sm-12.start-xs
              .app-function__intro__block
                strong Transact
                h1 Sell, Up Sell, Cross Sell
                p
                  | Simple and automated techniques to increase revenue from existing customer base by 2X
    section.app-function__description
      .container
        p NHANCE NOW makes it easy for you to present your customers with all the possible add-ons products, buying guides, booking /payment processes in a single elegant interface at crucial stages of the product’s post purchase journey. It positively influences your customers to make essential add-on purchases thereby increasing your incremental purchases.
    section.app-function__examples
      .container
        h2 Features
      .app-function__examples__content
        .container
          .app-function__examples__block.app-function__examples__block-1
            .row.middle-xs
              .col-sm-5.col-xs-12.wow.fadeInUp(data-wow-duration='1.5s')
                h3 Add-On Selling / Upsell
                p.app-function__examples__block-2
                  | Every product or service comes with opportunities for upselling. With our intelligent mapping system, you can present complementary product add-ons, accessories and provide higher value upgrades of the original product or service. It helps you increase the average revenue per user.
              .col-sm-6.col-xs-12.col-sm-offset-1
                #app-function-img-1.app-function__examples__block__img
                  img(src='img/app-function/expansion/expansion-img-01.png', srcset='img/app-function/expansion/expansion-img-01@2x.png 2x, img/app-function/expansion/expansion-img-01@3x.png 3x' data-bottom-top="position:relative;top:70px;" data-top-bottom="position:relative;top:-70px;")
          .app-function__examples__block
            .row.middle-xs
              .col-sm-6.col-xs-12.last-xs
                #app-function-img-2.app-function__examples__block__img
                  img(src='img/app-function/expansion/expansion-img-02.png', srcset='img/app-function/expansion/expansion-img-02@2x.png 2x, img/app-function/expansion/expansion-img-02@3x.png 3x' data-bottom-top="position:relative;top:70px;" data-top-bottom="position:relative;top:-70px;")
              .col-sm-5.col-xs-12.col-sm-offset-1.last-sm.wow.fadeInUp(data-wow-duration='1.5s')
                h3 Buy Back & Exchange
                p.app-function__examples__block-3
                  | Offering buy back and exchange scheme allows you to continue your relationship with your customers. With deep data analytics, customer insights and business rules, you can automate the entire process of buy back / exchange schemes. It is an intelligent way of generating additional revenue from existing customers
          .app-function__examples__block
            .row.middle-xs
              .col-sm-5.col-xs-12.wow.fadeInUp(data-wow-duration='1.5s')
                h3 Sell Care Plans
                p
                  | Care plans (like extended warranty, insurance, AMCs) are extremely popular in the customer products segment. They help protect products from accidental damage and offer peace of mind to customers. Reduce the friction in selling care plans by eliminating long forms and complex process with easy Tap-n-Buy features on the customer’s mobile interface.
              .col-sm-6.col-xs-12.col-sm-offset-1
                #app-function-img-3.app-function__examples__block__img
                  img(src='img/app-function/expansion/expansion-img-03.png', srcset='img/app-function/expansion/expansion-img-03@2x.png 2x, img/app-function/expansion/expansion-img-03@3x.png 3x' data-bottom-top="position:relative;top:70px;" data-top-bottom="position:relative;top:-70px;")
    section.app-function__start
      .container
        h2 Start transforming your customers into life time promoters
        a.btn.btn-primary(href='#schedule', rel='modal:open') request a demo
