.customers-story
  &__intro
    height: 400px
    background-color: $white-four
    +center
    h1
      font-size: 40px
      font-weight: 300
      line-height: 1.5
      text-align: center
      color: $dark-two
    img
      height: 74px
      position: relative
      left: 50%
      transform: translate(-50%)
    