.pricing
  padding-top: 160px
  background-color: $white-four
  h1
    font-size: 50px
    font-weight: 300
    color: $dark-two
    text-align: center
    margin-bottom: 60px
  .tabs
    +center-column
    &__caption
      display: flex
      justify-content: center
      margin-bottom: 60px
      li
        cursor: pointer
        border-radius: 17.5px
        border: solid 1px transparent
        padding: 13px 20px
        font-size: 12px
        line-height: 1
        font-weight: bold
        color: $dark
        text-transform: uppercase
        +tr
        &.active
          border: solid 1px $dark-two
    &__content
      display: none
      width: 100%
      &.active
        display: block
  &__tariff
    margin-bottom: 60px
    &__block
      border-radius: 10px
      background-color: $white
      padding: 60px 55px
      height: 100%
      overflow: hidden
      position: relative
      &__popular
        position: absolute
        top: 0
        left: 0
        width: 100%
        background-color: $dark-two
        padding: 7px
        p
          font-size: 12px
          font-weight: bold
          text-align: center
          color: $white
      &__title
        h2
          font-size: 30px
          font-weight: 300
          color: $dark-two
          margin-bottom: 30px
          text-align: center
        p
          font-size: 14px
          font-weight: 300
          line-height: 1.43
          text-align: center
          color: $dark
          margin-bottom: 23px
      &__coins
        +center-column
        p
          height: 15px
          display: block
          font-size: 12px
          font-weight: normal
          text-align: center
          color: $dark
          text-transform: uppercase
          margin-bottom: 10px
        strong
          font-size: 30px
          font-weight: 600
          color: $dark-two
          display: flex
          align-items: flex-end
          span
            font-size: 14px
            font-weight: 300
            position: relative
            top: -14px
          b
            font-size: 14px
            position: relative
            top: -2px
          i
            font-size: 14px
            margin-left: 7px
            color: $dark-two
            font-weight: normal
            font-style: normal
            position: relative
            top: -2px
      &__details
        +center-column
        padding: 25px 0 50px
        min-height: 115px
        a
          font-size: 12px
          font-weight: normal
          color: $dark
          margin-bottom: 15px
          text-decoration: underline
        span
          display: block
          font-size: 12px
          color: rgba(19, 28, 47, 0.6)
      &__btn
        a
          width: 100%
          +center
      &__includes
        padding: 60px 0 20px
        min-height: 125px
        h3
          font-size: 14px
          font-weight: 600
          text-align: center
          color: $dark-two
        p
          font-size: 12px
          text-align: center
          color: $dark-two
          margin-top: 20px
      &__all
        h3
          text-align: center
          margin-bottom: 20px
          a
            font-size: 14px
            font-weight: 600
            color: $dark-two
            text-decoration: underline
        ul
          +center-column
        li
          font-size: 12px
          text-align: center
          color: $dark-two
          margin-bottom: 10px
    &__info
      margin-top: 50px
      p
        font-size: 12px
        font-weight: normal
        font-style: normal
        font-stretch: normal
        line-height: 2.08
        letter-spacing: normal
        text-align: center
        color: $dark-two
        &:first-child
          font-size: 14px
  &__questions
    padding: 60px 0 140px
    h2
      font-size: 30px
      font-weight: 300
      color: $dark-two
      text-align: center
      margin-bottom: 90px
    &__block
      border-radius: 10px
      box-shadow: 0px 1.5px 5px 0 rgba(0, 0, 0, 0.11)
      border: solid 0 #000000
      background-color: $white
      padding: 35px
      margin-bottom: 20px
      display: inline-block
      width: 100%
      &__text
        margin-top: 20px
      strong
        font-size: 14px
        font-weight: 600
        font-style: normal
        font-stretch: normal
        line-height: 2.14
        letter-spacing: 0.1px
        text-align: left
        color: $dark-three
        position: relative
        display: block
        &.active
          i
            transform: rotate(0deg)
        i
          position: absolute
          right: 0
          top: 10px
          transform: rotate(180deg)
          +tr
      div, li, b
        font-size: 12px
        font-weight: normal
        line-height: 2.08
        color: $dark
        margin-bottom: 40px
        &:last-child
          margin-bottom: 0
      ul
        margin-bottom: 40px
      li, b
        margin-bottom: 0
      b
        font-weight: 600