//BEGIN footer
footer.footer
  .container
    .row
      .col-md-4.col-xs-12.last-xs
        .footer__logo
          img(src="img/nhance-icon.png" srcset="img/nhance-icon@2x.png 2x, img/nhance-icon@3x.png 3x")
          p Inspirion Digital Solutions Pvt Ltd 
            span (Parent Company of NHANCE)
        .footer__contacts
          p #271, 2nd Floor, Sri Ganesh Complex, 
          p Hosur Main Road, Madiwala, 
          p Landmark: Silk Board Junction, 
          p Bangalore - 560068.
          p Office : +91-80-65586557
        ul.footer__social
          li
            a(href="#")
              img(src="img/facebook.png" srcset="img/facebook@2x.png 2x, img/facebook@3x.png 3x")
          li
            a(href="#")
              img(src="img/twitter.png" srcset="img/twitter@2x.png 2x, img/twitter@3x.png 3x")
          li
            a(href="#")
              img(src="img/linkedin.png" srcset="img/linkedin@2x.png 2x, img/linkedin@3x.png 3x")
      .col-md-8.col-xs-12.last-md
        .footer__nav
          .footer__nav__block
            h3 Platform
            ul
              li
                a(href="#") Digital Kit
              li
                a(href="#") Digital Experience Cloud
              li
                a(href="#") NHANCE NOW Lite
          .footer__nav__block
            h3 Resources
            ul
              li
                a(href="#") Blog
              li
                a(href="#") Help Center
              li
                a(href="#") Security
          .footer__nav__block
            h3 Company
            ul
              li
                a(href="#") About Us
              li
                a(href="#") Team
              li
                a(href="#") Customers
              li
                a(href="#") Careers
              li
                a(href="#") Contact Us
          .footer__nav__block.footer__nav__block-last
            h3 Solutions
            ul
              li
                a(href="#") Ondeard
              li
                a(href="#") Instacare
              li
                a(href="#") Engage
              li
                a(href="#") Transact
              li
                a(href="#") Advocate
    .row
      .col-sm-6.col-xs-12.center-xs.start-sm
        .footer__copyright
          p Copyright ©2018 Inspirion Digital Solutions Pvt ltd. All rights reserved.
      .col-sm-6.col-xs-12.end-sm.center-xs
        .footer__policy
          a(href="#") Privacy Policy 
          span |
          a(href="#") Term of Use
//END footer