//BEGIN header
header.header(class=header)
  .container
    .menu-open
      span
    .row
      .col-lg-4.col-md-3.col-xs-12.center-xs.start-md
        a(href="index.html").header__logo
          img(src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo@3x.png 3x")
      .col-lg-8.col-md-9.col-sm-10.hidden-sm.hidden-xs
        .header__nav
          nav
            ul
              li 
                a(href="#") Platform
                  i.icon.icon-arrow-down
                ul.header__nav__dropdown
                  li
                    a(href="mobile_tour.html")
                      .header__nav__dropdown__list
                        b Digital Kit
                        p A completely new kind of mobile digital customer experience for your consumers
                  li
                    a(href="product.html")
                      .header__nav__dropdown__list
                        b Digital Experience Platform
                        p Integration APIs and Inbuilt Tools to create Digital Kits and Interact with Customers
              li 
                a(href="#") Solutions
                  i.icon.icon-arrow-down
                ul.header__nav__dropdown.header__nav__dropdown--icon
                  li
                    a(href="onboard.html")
                      .header__nav__dropdown__img
                        img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                      .header__nav__dropdown__list
                        b Onboard
                        p 
                          span Give your customers a quick and easy start
                          | (Product Registration/Activation, Recommendations, Tips)
                  li
                    a(href="instacare.html")
                      .header__nav__dropdown__img
                        img(src="img/icon/retention.png" srcset="img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x")
                      .header__nav__dropdown__list
                        b Instacare
                        p 
                          span Instant & Conversational Support Services
                          | (Self Service, Service Request, Helpdesk)
                  li
                    a(href="engage.html")
                      .header__nav__dropdown__img
                        img(src="img/icon/expansion.png" srcset="img/icon/expansion@2x.png 2x, img/icon/expansion@3x.png 3x")
                      .header__nav__dropdown__list
                        b Engage
                        p 
                          span Personalized and contextual life cycle interactions 
                          | (Push Notifications, Offers, Smart Notifications, Feedback)
                  li
                    a(href="transact.html")
                      .header__nav__dropdown__img
                        img(src="img/icon/transact.png" srcset="img/icon/transact@2x.png 2x, img/icon/transact@3x.png 3x")
                      .header__nav__dropdown__list
                        b Transact
                        p 
                          span Up sell and cross sell made simple and easy
                          | (Add-on Selling, Upsell, Cross Sell, Exchange, Recycle)
                  li
                    a(href="advocate.html")
                      .header__nav__dropdown__img
                        img(src="img/icon/advocate.png" srcset="img/icon/advocate@2x.png 2x, img/icon/advocate@3x.png 3x")
                      .header__nav__dropdown__list
                        b Advocate
                        p 
                          span Build Advocates and Amplify Brand Value
                          | (Referrals, Gamification)
              li 
                a(href="#") Customers
                  i.icon.icon-arrow-down
                ul.header__nav__dropdown
                  li
                    a(href="customers.html")
                      .header__nav__dropdown__list
                        b Case Studies
                        p Summary of our customers and the various ways in which they use our platform and apps to improve customer engagement and boost thier business
              li 
                a(href="#") Resources
                  i.icon.icon-arrow-down
                ul.header__nav__dropdown
                  li
                    a(href="tour.html")
                      .header__nav__dropdown__list
                        b Blogs
                        p Collection of articles on CX best practices, use cases, industry trends, product updates
                  li
                    a(href="service.html")
                      .header__nav__dropdown__list
                        b Help Center
                        p Knowledgebase on using our platform, app, integrations, step by step guides and troubleshooting information
                  li
                    a(href="security.html")
                      .header__nav__dropdown__list
                        b Security
                        p Notes on our applications and data security, compliances, hosting, firewalls
              li 
                a(href="pricing.html") Pricing
          .header__btn
            a(href="#schedule" rel="modal:open").btn.btn-primary Schedule a demo  
            b.btn.btn-secondary login
              ul.header__btn__login
                li
                  a(href="https://app-in.nhancenow.com/") 
                    img(src="img/country/usa.png", alt="")
                    | USA
                li
                  a(href="https://app-me.nhancenow.com/") 
                    img(src="img/country/uae_flag.png", alt="")
                    | UAE
                li
                  a(href="https://app-in.nhancenow.com/") 
                    img(src="img/country/india_flag.png", alt="")
                    | INDIA
                li
                  a(href="https://app-in.nhancenow.com/") 
                    img(src="img/country/Singapore_flag.png", alt="")
                    | SINGAPORE
//END header
