//BEGIN header
header.header(class=header)
  .container
    .menu-open
      span
    .row
      .col-lg-4.col-md-3.col-xs-12.center-xs.start-md
        a(href="index.html").header__logo
          img(src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo@3x.png 3x")
      .col-lg-8.col-md-9.col-sm-10.hidden-sm.hidden-xs
        .header__nav
          nav
            ul
              li 
                a(href="#") Platform
                  i.icon.icon-arrow-down
                ul.header__nav__dropdown
                  li
                    a(href="mobile_tour.html")
                      .header__nav__dropdown__list
                        b Digital Kit
                        p A completely new kind of mobile digital customer experience for your consumers
                  li
                    a(href="product.html")
                      .header__nav__dropdown__list
                        b Digital Expereince Platform
                        p Integration APIs and Inbuilt Tools to create Digital Kits and Interact with Customers
              li 
                a(href="#") Solutions
                  i.icon.icon-arrow-down
                ul.header__nav__dropdown.header__nav__dropdown--icon
                  li
                    a(href="adoption.html")
                      .header__nav__dropdown__img
                        img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                      .header__nav__dropdown__list
                        b Onboard
                        p Give your customers a quick and easy start
                          span (Product Registration/Activation, Recommendations, Tips)
                  li
                    a(href="support.html")
                      .header__nav__dropdown__img
                        img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                      .header__nav__dropdown__list
                        b Instacare
                        p Instant & Conversational Support Services
                          span (Self Service, Service Request, Helpdesk)
                  li
                    a(href="retention.html")
                      .header__nav__dropdown__img
                        img(src="img/icon/retention.png" srcset="img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x")
                      .header__nav__dropdown__list
                        b Engage
                        p Personalized and contextual life cycle interactions 
                          span (Push Notifications, Offers, Smart Notifications, Feedback)
                  li
                    a(href="expansion.html")
                      .header__nav__dropdown__img
                        img(src="img/icon/expansion.png" srcset="img/icon/expansion@2x.png 2x, img/icon/expansion@3x.png 3x")
                      .header__nav__dropdown__list
                        b Transact
                        p Up sell and cross sell made simple and easy
                          span (Add-on Selling, Upsell, Cross Sell, Exchange, Recycle)
                  li
                    a(href="advocacy.html")
                      .header__nav__dropdown__img
                        img(src="img/icon/advocacy.png" srcset="img/icon/advocacy@2x.png 2x, img/icon/advocacy@3x.png 3x")
                      .header__nav__dropdown__list
                        b Advocate
                        p Build Advocates and Amplify Brand Value
                          span (Referrals, Gamification)
              li 
                a(href="#") Customers
                  i.icon.icon-arrow-down
                ul.header__nav__dropdown
                  li
                    a(href="about.html")
                      .header__nav__dropdown__list
                        b Case Studies
                        p Summary of our customers and the various ways in which they use our platform and apps to improve customer engagement and boost thier business
              li 
                a(href="#") Resources
                  i.icon.icon-arrow-down
                ul.header__nav__dropdown
                  li
                    a(href="tour.html")
                      .header__nav__dropdown__list
                        b Blogs
                        p Collection of articles on CX best practices, use cases, industry trends, product updates
                  li
                    a(href="service.html")
                      .header__nav__dropdown__list
                        b Help Center
                        p Knowledgebase on using our platform, app, integrations, step by step guides and troubleshooting information
                  li
                    a(href="security.html")
                      .header__nav__dropdown__list
                        b Security
                        p Notes on our applications and data security, compliances, hosting, firewalls
              li 
                a(href="pricing.html") Pricing
          .header__btn
            a(href="#").btn.btn-primary Schedule a demo  
            a(href="#").btn.btn-secondary login
//END header
