//BEGIN header
header.header
  .container
    .row
      .col-xs-4
        .header__logo
          img(src="img/logo.png", alt="")
      .col-xs-8
        .header__nav
          nav
            ul
              li
                a(href="#").arrow-dropdown Platform
              li
                a(href="#").arrow-dropdown Features
              li
                a(href="#").arrow-dropdown Customers
              li
                a(href="#") Resources
              li
                a(href="#") Pricing
          .header__btn
            a(href="#").btn.btn-primary Schedule a demo  
            a(href="#").btn.btn-secondary log in
//END header
