//BEGIN header
header.header(class=header)
  .container
    .menu-open
      span
    .row
      .col-lg-4.col-md-3.col-sm-2.col-xs-12.center-xs.start-sm
        a(href="index.html").header__logo
          img(src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo@3x.png 3x")
      .col-lg-8.col-md-9.col-sm-10.hidden-xs
        .header__nav
          nav
            ul
              li Platform
                i.icon.icon-arrow-down
                ul.header__nav__dropdown
                  li
                    a(href="#")
                      .header__nav__dropdown__list
                        b Digital Kit
                        p A completely new kind of mobile digital customer experience for your consumers
                  li
                    a(href="#")
                      .header__nav__dropdown__list
                        b Digital Experience Cloud 
                          span (Powering Digital Kits)
                        p Suite of tools to build digital kits and add value to all post purchase interaction touch points
              li Features
                i.icon.icon-arrow-down
                ul.header__nav__dropdown.header__nav__dropdown--icon
                  li
                    a(href="#")
                      .header__nav__dropdown__img
                        img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                      .header__nav__dropdown__list
                        b Convenient Onboarding
                        p Give your customers a quick and easy start
                          span (Product Registration/Activation, Recommendations, Tips)
                  li
                    a(href="#")
                      .header__nav__dropdown__img
                        img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
                      .header__nav__dropdown__list
                        b On Demand Support
                        p Instand/Conversational support services
                          span (Videos, Documents, Service Requests, FAQs)
                  li
                    a(href="#")
                      .header__nav__dropdown__img
                        img(src="img/icon/retention.png" srcset="img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x")
                      .header__nav__dropdown__list
                        b Hyper Personalized Engagement
                        p Personalized and contextual life cycle interactions 
                          span (Push Notifications, Offers, Smart Notifications, Feedback)
                  li
                    a(href="#")
                      .header__nav__dropdown__img
                        img(src="img/icon/expansion.png" srcset="img/icon/expansion@2x.png 2x, img/icon/expansion@3x.png 3x")
                      .header__nav__dropdown__list
                        b Transactions
                        p Up sell and cross sell made simple and easy
                          span (Sell, Up Sell, Cross Sell, Exchange, Recycle)
                  li
                    a(href="#")
                      .header__nav__dropdown__img
                        img(src="img/icon/advocacy.png" srcset="img/icon/advocacy@2x.png 2x, img/icon/advocacy@3x.png 3x")
                      .header__nav__dropdown__list
                        b Brand Advocacy
                        p Build Advocates and simplify brand value
                          span (Referrals, Gamification)
              li Customers
                i.icon.icon-arrow-down
                ul.header__nav__dropdown
                  li
                    a(href="#")
                      .header__nav__dropdown__list
                        b Case Studies
                        p Summary of our customers and the various ways in which they our platform and app to improve their customer engagement and boost their business
                  li
                    a(href="#")
                      .header__nav__dropdown__list
                        b Customer Success
                        p A step by step guide on how we engage with you to help you reach your goals the moment you buy from us
              li Resources
                i.icon.icon-arrow-down
                ul.header__nav__dropdown
                  li
                    a(href="#")
                      .header__nav__dropdown__list
                        b Blog
                        p Collection of articles on CX best practies, use cases, industry trends, product updates
                  li
                    a(href="#")
                      .header__nav__dropdown__list
                        b Help Center
                        p Knowledgebase on using our platform, app, integrations, step by step guides and troubleshooting information
                  li
                    a(href="#")
                      .header__nav__dropdown__list
                        b Security
                        p Notes on our applications and data security, compliances, hosting, firewalls
              li 
                a(href="#") Pricing
          .header__btn
            a(href="#").btn.btn-primary Schedule a demo  
            a(href="#").btn.btn-secondary log in
//END header
