//BEGIN pop-up
.bg
.pop-up__pay.pop-up.modal#pay
  a(href="#" rel="modal:close").pop-up__close
    span
  h2
    img(src="img/icon/fee-icon.png" srcset="img/icon/fee-icon@2x.png 2x, img/icon/fee-icon@3x.png 3x")
    | Platform Usage Fee Slabs
  table
    tr
      th number of dk’s
      th number of dk’s
      th usage fee per month
    tr
      td 0
      td 5,000
      td 
        b $99
    tr
      td 5,001
      td 10,000
      td 
        b $199
    tr
      td 10,001
      td 20,000
      td 
        b $349
    tr
      td 20.001
      td 40,000
      td 
        b $499
    tr
      td 40,001
      td 100,000
      td 
        b $999
    tr
      td Beyond 100,000
      td
      td 
        a(href="#") Contact Sales
//END pop-up