//BEGIN pop-up
.menu-bg
.menu#menu
  ul.menu__content
    li 
      a(href="index.html").menu__item Home
    li 
      a(href="#").menu__item Platform
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="mobile_tour.html")
            .menu__dropdown__list
              b Digital Kit
        li
          a(href="product.html")
            .menu__dropdown__list
              b Digital Expereince Platform
        li
          a(href="tour.html")
            .menu__dropdown__list
              b Business App
    li 
      a(href="#").menu__item Solutions
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="onboard.html")
            .menu__dropdown__img
              img(src="img/icon/adoption.png" srcset="img/icon/adoption@2x.png 2x, img/icon/adoption@3x.png 3x")
            .menu__dropdown__list
              b Onboard
        li
          a(href="instacare.html")
            .menu__dropdown__img
              img(src="img/icon/retention.png" srcset="img/icon/retention@2x.png 2x, img/icon/retention@3x.png 3x")
            .menu__dropdown__list
              b Instacare
        li
          a(href="engage.html")
            .menu__dropdown__img
              img(src="img/icon/expansion.png" srcset="img/icon/expansion@2x.png 2x, img/icon/expansion@3x.png 3x")
            .menu__dropdown__list
              b Engage
        li
          a(href="transact.html")
            .menu__dropdown__img
              img(src="img/icon/transact.png" srcset="img/icon/transact@2x.png 2x, img/icon/transact@3x.png 3x")
            .menu__dropdown__list
              b Transact
        li
          a(href="advocate.html")
            .menu__dropdown__img
              img(src="img/icon/advocate.png" srcset="img/icon/advocate@2x.png 2x, img/icon/advocate@3x.png 3x")
            .menu__dropdown__list
              b Advocate
    li 
      a(href="#").menu__item Customers
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="about.html")
            .menu__dropdown__list
              b Case Studies
    li
      a(href="#").menu__item Resources
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="http://blog.nhancenow.com" target="_blank")
            .menu__dropdown__list
              b Blog
        li
          a(href="http://support.nhancenow.com/" target="_blank")
            .menu__dropdown__list
              b Help Center
        li
          a(href="security.html")
            .menu__dropdown__list
              b Security
    li
      a(href="#").menu__item Company
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="about.html") 
            .menu__dropdown__list
              b About Us
        li
          a(href="team.html") 
            .menu__dropdown__list
              b Team
        li
          a(href="customers.html") 
            .menu__dropdown__list
              b Customers
        li
          a(href="http://nhancenow.com/partners/" target="_blank") 
            .menu__dropdown__list
              b Partners
        li
          a(href="https://angel.co/nhance-now/jobs" target="_blank") 
            .menu__dropdown__list
              b Careers
        li
          a(href="contacts.html")
            .menu__dropdown__list
              b Contact Us
    li 
      a(href="pricing.html").menu__item Pricing  




.pop-up__pay.pop-up.modal#pay
  a(href="#" rel="modal:close").pop-up__close
    span
  h2
    img(src="img/icon/fee-icon.png" srcset="img/icon/fee-icon@2x.png 2x, img/icon/fee-icon@3x.png 3x")
    | Platform Usage Fee Slabs
  table
    tr
      th number of Experience Cards
      th number of Experience Cards
      th usage fee per month
    tr
      td 0
      td 5,000
      td 
        b $99
    tr
      td 5,001
      td 10,000
      td 
        b $199
    tr
      td 10,001
      td 20,000
      td 
        b $349
    tr
      td 20.001
      td 40,000
      td 
        b $499
    tr
      td 40,001
      td 100,000
      td 
        b $999
    tr
      td Beyond 100,000
      td
      td 
        a(href="contacts.html") Contact Sales


.pop-up__schedule.pop-up.modal#schedule
  a(href="#" rel="modal:close").pop-up__close
    span
  iframe(src="https://calendly.com/nhancenow/demo", frameborder="0")


.pop-up__video.pop-up.modal#video
  a(href="#" rel="modal:close").pop-up__close
    span
  iframe(src="https://player.vimeo.com/video/301615720" width="640" height="1280" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

//END pop-up