.advantages
  background: rgb(242, 242, 242)
  padding: 135px 0 170px
  +r(767)
    padding: 50px 0
  &__title
    padding-bottom: 110px
    +r(767)
      padding-bottom: 50px
    h2
      font-size: 40px
      font-weight: 300
      line-height: 1.5
      text-align: center
      color: $dark-two
      margin-bottom: 30px
      +r(767)
        font-size: 30px
    p
      font-size: 16px
      font-weight: 300
      line-height: 1.72
      text-align: center
      color: $dark-two
  &__block
    border-radius: 10px
    padding: 60px 40px
    padding-right: 24px
    height: 100%
    margin: 0 12px
    +r(1040)
      margin: 0
      margin-bottom: 40px
      height: auto
    +r(550)
      flex-direction: column
      padding: 30px 20px
    &-primary
      position: relative
      background-color: $white-four
      border: 1px solid #c7c7c7
      &:before
        content: 'VS'
        text-transform: uppercase
        +center
        width: 25px
        height: 25px
        background-color: $pink-red
        font-family: 'Open Sans'
        font-size: 12px
        font-weight: 800
        color: $white
        border-radius: 100%
        position: absolute
        top: 50%
        right: -33px
        transform: translate(0, -50%)
        +r(1040)
          right: auto
          left: 50%
          top: auto
          bottom: -33px
          transform: translate(-50%, 0)
      h3
        font-size: 30px
        font-weight: 300
        line-height: 1.08
        text-align: center
        color: rgba(97, 97, 97, 0.98)
        margin-bottom: 55px
        b
          font-weight: 600
          color: rgba(19, 28, 46, 0.98)
      li
        border-radius: 7.5px
        border: 1px solid #c7c7c7
        font-weight: 400
    &-secondary
      box-shadow: 0px 1.5px 20px 0 rgba(0, 0, 0, 0.16)
      background: $white
      h3
        font-size: 30px
        font-weight: 300
        text-align: left
        color: $dark-two
        margin-bottom: 24px
        text-align: center
        margin-bottom: 55px
        b
          color: #e52360
      li
        border: 1px solid #fbd0df
        font-weight: 600
    h3
      +r(767)
        font-size: 22px
    &__content
      display: flex
      align-items: center
      +r(550)
        flex-direction: column
    img
      +r(1200)
        width: 45%
      +r(550)
        margin-bottom: 20px
    &__text
      padding-left: 15px
      +r(550)
        padding-left: 0
      ul
        display: inline-flex
        flex-direction: column
        align-items: flex-start
        +r(767)
          align-items: center
      li
        border-radius: 7.5px
        display: inline-block
        margin-bottom: 10px
        padding: 14px 16px
        font-size: 14px
        line-height: 1.43
        color: $dark
        +r(767)
          text-align: center