.relations
  padding: 0px 0 200px
  background: rgb(242, 242, 242)
  +r(1024)
    padding: 70px 0
  +r(767)
    padding-top: 0
  &__title
    padding-bottom: 110px
    +r(767)
      padding-bottom: 50px
    h2
      font-size: 40px
      font-weight: 300
      line-height: 1.5
      text-align: center
      color: $dark-two
      margin-bottom: 30px
      +r(767)
        font-size: 25px
    p
      font-size: 16px
      font-weight: 300
      line-height: 1.72
      text-align: center
      color: $dark-two
      max-width: 690px
      position: relative
      left: 50%
      transform: translate(-50%)
      +r(767)
        font-size: 12px
  &__content
    display: flex
    background: $white
    border-radius: 10px
    display: flex
    overflow: hidden
    box-shadow: 0px 1.5px 20px 0 rgba(0, 0, 0, 0.06)
    background-color: $white
    +r(767)
      flex-direction: column
      background: none
      box-shadow: none
  &__block
    width: 100%
    box-shadow: 0px 1.5px 20px 0 rgba(0, 0, 0, 0.06)
    background-color: $white
    +center-column
    justify-content: space-between
    padding: 50px 35px
    +r(1024)
      padding: 50px 15px
    +r(767)
      margin-bottom: 30px
      border-radius: 10px
    img
      position: relative
      height: 45px
      left: 50%
      transform: translate(-50%)
    strong
      font-size: 12px
      font-weight: bold
      line-height: 2.08
      text-align: center
      color: $pink-red
      display: block
      padding: 35px 0 25px
      text-transform: uppercase
    p
      font-size: 14px
      line-height: 1.79
      text-align: center
      color: #131c2e
      display: block
    a
      font-size: 12px
      color: $dark-two
      padding: 7px 12px
      border-radius: 12.5px
      border: solid 1px $dark-two
      margin-top: 40px
      &:hover
        background: $cerise
        color: $white
        border-color: $cerise