.simplicity
  padding: 100px 0
  background-color: $white
  +r(767)
    padding-bottom: 0
  &__title
    h2
      font-size: 40px
      font-weight: 300
      line-height: 1.5
      text-align: center
      color: $dark
      margin-bottom: 40px
      +r(767)
        font-size: 25px
    p 
      font-size: 16px
      font-weight: 300
      line-height: 1.72
      text-align: center
      color: $dark
      margin-bottom: 100px
      +r(767)
        font-size: 14px
  &__block
    +center-column
    position: relative
    +r(767)
      margin-bottom: 80px
    &--last
      .simplicity__block__img
        border: none
        &:before, &:after
          display: none 
    h2
      font-size: 12px
      line-height: 1.25
      text-align: center
      color: rgba(19, 28, 47, 0.8)
      position: relative
      display: inline-block
      max-width: 160px
      margin-bottom: 50px
      +r(767)
        margin-bottom: 20px
      &:before
        content: ''
        position: absolute
        bottom: -15px
        width: 40%
        height: 4px
        border-radius: 1.7px
        background-color: $pink-red
        left: 50%
        transform: translate(-50%)
    &__img
      height: 330px
      +center-column
      position: relative
      width: 100%
      border-right: 1px solid rgba($dark, 0.3)
      padding-top: 20px
      &--last
        img
          width: 220px
          height: 380px
          box-shadow: none !important
          +r(1160)
            height: auto
      +r(767)
        height: auto
        border-right: none
        border-bottom: 1px solid rgba($dark, 0.3)
        padding-bottom: 40px
      &:before, &:after
        content: ''
        position: absolute
        right: -100px
        border: 60px solid transparent
        border-left: 40px solid rgba($dark, 0.3)
        +r(767)
          border: 60px solid transparent
          border-top: 40px solid rgba($dark, 0.3)
          right: auto
          bottom: -100px
      &:after
        border-left: 40px solid $white
        right: -99px
        +r(767)
          border: 60px solid transparent
          border-top: 40px solid $white
          right: auto
          bottom: -99px
      img
        box-shadow: 0px 1.5px 20px 0 rgba(0, 0, 0, 0.06)
        max-width: 475px
        +r(1150)
          width: 70%
        +r(767)
          width: auto
          max-width: 100%
      p
        +center-column
        font-size: 12px
        font-weight: normal
        color: $dark
        width: 87px
        text-align: center
        border-right: 1px solid rgba($white, 0.3)
        margin-top: 40px
        +r(1024)
          font-size: 10px
        +r(767)
          width: 140px
          margin-right: 0
        img
          margin-bottom: 15px
          width: 85px
          box-shadow: none