.animation
  background: $white
  padding: 130px 0 0px
  position: relative
  &__purchases
    position: relative
    width: 100%
    img
      position: absolute
      left: 37%
      top: 50%
      margin-left: 40px
  &__phone
    width: 290px
    height: 580px
    overflow: hidden
    position: relative
    left: 50%
    transform: translate(-50%)
    +center
    margin-top: 100px
    &:before
      content: ''
      width: 100%
      background: $white
      height: 17px
      position: absolute
      top: 0
      left: 0
      z-index: 19
    img.phone
      width: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 20
    &-img
      margin: 0 20px
      width: calc(100% - 40px)
      left: 0
      top: 15px
      position: absolute
      &:nth-child(2)
        top: 10px
    .swiper
      width: 100%
      height: 100%
      position: relative
      z-index: 18
      background: $white
      background: url('../img/home/iphone-dc@3x.png')
      background-size: 250px 547px
      background-repeat: no-repeat
      background-position: 50% 50%
      &-container
        width: calc(100% - 40px)
        margin-left: 20px
        height: 100%
      &-slide
        +center
        img
          width: 100%
  
  
  
  
  
// .slider
//   position: relative
//   background: $white
//   &__header
//     position: sticky
//     top: 0
//     z-index: 6
//     width: 100%
//     height: 100px
//     background: $white
//     transition: all .5s linear 0s
//     border-bottom: 1px solid #e3e3e3
//     border-top: 1px solid #e3e3e3
//     .container
//       height: 100%
//     &__content
//       display: flex
//       justify-content: space-around
//       width: 800px
//       align-items: center
//       height: 100%
//       position: relative
//       left: 50%
//       transform: translate(-50%)
//     &__block
//       height: 100%
//       width: 100%
//       +center
//       border-left: 1px solid #e3e3e3
//       cursor: pointer
//       &:last-child
//         border-right: 1px solid #e3e3e3
//       &.active
//         background: #f9f9f9 !important
//         img
//           opacity: 1 !important
//       &:hover
//         background: #fcfcfc
//         img
//           opacity: 0.6
//       img
//         height: 60px
//         opacity: 0.3
//         +tr
//   &__content
//     padding-top: 150px
//     position: relative
//     +r(1040)
//       padding-top: 0
//     &__pagination
//       position: sticky
//       padding-left: 20px
//       display: block
//       span
//         display: block
//         width: 15px
//         height: 15px
//         border-radius: 100%
//         background: rgba(0, 0, 0, 0.3)
//         margin: 5px 0
//         &.active
//           background: rgba(0, 0, 0, 1)
//   &__img
//     position: sticky
//     right: 0
//     top: 250px
//     width: 100%
//     overflow: hidden
//     &__block
//       transform: scale(1.1)
//       padding: 40px 0
//     img
//       width: 100%
//       position: relative
//       right: -15%
//   &__slide
//     margin-top: -200px
//     height: 100vh
//     +r(1040)
//       padding-left: 0
//       height: auto
//       margin-top: 0
//     &__img
//       height: 100px
//       +center
//       img
//         height: 100%
//     &:last-child
//       height: auto
//     h2
//       padding: 100px 0
//       padding-left: 50px
//       +r(1040)
//         text-align: center
//         padding-left: 0