section.advantages
  .container
    .row
      .col-md-6.col-xs-12
        .advantages__block.advantages__block-primary.wow.fadeInLeft(data-wow-duration="1.5s")
          img(src="img/home/traditional-way.png" srcset="img/home/traditional-way@2x.png 2x, img/home/traditional-way@3x.png 3x")
          .advantages__block__text
            h3 Leave traditional methods behind
            ul
              li Looks like i've to wait forever for their responses
              li All cluttered information dumb chatbots
              li I think you don't need me anymore
              li I wish i knew i want to do next
              li Why is it so damn complicated
      .col-md-6.col-xs-12
        .advantages__block.advantages__block-secondary.wow.fadeInRight(data-wow-duration="1.5s")
          img(src="img/home/modern-way.png" srcset="img/home/modern-way@2x.png 2x, img/home/modern-way@3x.png 3x")
          .advantages__block__text
            h3 Win customer hearts the 
              b ‘nhanced’ 
              | way
            ul
              li Amazing i can access all services at one place
              li This message is so relevant exactly what i need now!
              li Self-service is social i resolve my own issue, Yay!
              li Wow! i ever get smart recommendations
              li My brand cares about my relationship with item