section.advantages
  .container
    .row
      .col-md-6.col-xs-12
        .advantages__block.advantages__block-primary.wow.fadeInLeft(data-wow-duration="1.5s")
          h3 Life of 
            b traditional 
            | customer
          .advantages__block__content
            img(src="img/home/traditional-way.png" srcset="img/home/traditional-way@2x.png 2x, img/home/traditional-way@3x.png 3x")
            .advantages__block__text
              ul
                li Slow responses 
                li Irrelevant messages
                li So many channels to deal with
                li Complicated interactions
                li I miss so many important events
      .col-md-6.col-xs-12
        .advantages__block.advantages__block-secondary.wow.fadeInRight(data-wow-duration="1.5s")
          h3 Life of 
            b ‘nhanced’ 
            | customer
          .advantages__block__content
            img(src="img/home/modern-way.png" srcset="img/home/modern-way@2x.png 2x, img/home/modern-way@3x.png 3x")
            .advantages__block__text
              ul
                li Instacare with self service
                li Personalized Interactions
                li Everything on my mobile – One Hub
                li Convenience all around
                li Automated recommendations