section#baner.baner
  .container
    .row.center-xs.middle-xs
      .col-sm-5.col-xs-12.start-xs.last-xs
        .baner__img.wow.fadeInLeft(data-wow-duration='1.5s')
          img(src='img/home/consumer-app.png', srcset='img/home/consumer-app@2x.png 2x, img/home/consumer-app@3x.png 3x')
      .col-md-4.col-sm-7.col-xs-12.start-xs.last-sm
        .baner__text.wow.fadeInDown(data-wow-duration='1.5s')
          h2
            | Introducing
            span Digital Experience Cards
          p
            | A mobile friendly, interactive, personalized digital card, which binds all post purchase interactions and transforms the way in which your customers interact, engage and transact with you.
            br
            br
            | (Accessible over any mobile channel - APP / Mobile Web / PWA)
          .baner__text__btn
            a(href='#')
              img(src='img/icon/play-icon.png', srcset='img/icon/play-icon@2x.png 2x, img/icon/play-icon@3x.png 3x')
              | Watch Video
            a(href='mobile_tour.html') Learn More