section.baner
  .container
    .row.center-xs.middle-xs
      .col-sm-5.col-xs-12.start-xs.last-xs
        .baner__img.wow.fadeInLeft(data-wow-duration="1.5s")
          img(src="img/home/consumer-app.png" srcset="img/home/consumer-app@2x.png 2x, img/home/consumer-app@3x.png 3x")
      .col-md-4.col-sm-7.col-xs-12.start-xs.last-sm
        .baner__text.wow.fadeInDown(data-wow-duration="1.5s")
          h2 Introduce
            span Digital Kits
          p A revolutionary new way of delivering convenience to your customers. Provide all post purchase interaction channels over a single mobile touch point. Reduce friction, provide personalised services and help your customers derive greater value from the product or service.
          a(href="#")
            img(src="img/icon/play-icon.png" srcset="img/icon/play-icon@2x.png 2x, img/icon/play-icon@3x.png 3x")
            | Learm More