section.decision
  .container
    .decision__title
      h2 A customer experience solution built for success
      p Make every purchase the beginning of a lifelong relationship with amazing post purchase digital experiences.
    .decision__content
      .decision__block
        img(src="img/home/improve-quality.png" srcset="img/home/improve-quality@2x.png 2x,  img/home/improve-quality@3x.png 3x")
        strong Improve quality and value of customer interactions
        p Eliminate unnecessary, valueless contacts which are both frustrating for the customer and inefficient for you. Easily design workflows which lets you and your customers get more work done, quicker, in fewer steps.
      .decision__block
        img(src="img/home/360.png" srcset="img/home/360@2x.png 2x,  img/home/360@3x.png 3x")
        strong Get 360 view of your customer’s post purchase journey
        p Learn and aggregate all customer information in one place. It helps you understand customer behavior better, create more meaningful lifecycle interactions and most importantly deliver a more personalized and proactive customer experience.
      .decision__block
        img(src="img/home/automate.png" srcset="img/home/automate@2x.png 2x,  img/home/automate@3x.png 3x")
        strong Automate customer experience with data driven decisions
        p Automation improves efficiency for your team and ease of use for customers with decision algorithms based on real time data. Reduce ongoing costs, humanize interactions and achieve all of your strategic goals..