section.info
  .container
    h2 Make Customer Experience the face of your business.
    p
      | Connect with one of our product specialists to understand how your business can benefit with our unique solutions.
    a.btn.btn-primary(href='#schedule', rel='modal:open') Schedule a demo