section.info
  .container
    h2 Make Customer experience the face of your business
    p Connect with one of our product specialists to understand how yourbusiness can benefit from NHANCE NOW
    a(href="#schedule" rel="modal:open").btn.btn-primary Schedule a demo