section.interaction
  .container
    .interaction__title
      h2 Digital Kits help amplify consumer engagement
      p Build better relationships with your consumers and how deeply you care about them
    .row
      .col-xs-6
        .interaction__block
          strong Leave traditional methods behind
          img(src="img/home/info-graphic-02.png" srcset="img/home/info-graphic-02@2x.png 2x, img/home/info-graphic-02@3x.png 3x")
      .col-xs-6
        .interaction__block
          strong win customer hearts the ‘nhanced’ way
          img(src="img/home/info-graphic-01.png" srcset="img/home/info-graphic-01@2x.png 2x, img/home/info-graphic-01@3x.png 3x")