section.intro
  .container
    .row.center-xs
      .col-xs-9
        strong Re-Invent Customer Experiences for Digital Customers
        h2 Win, serve and retain modern customers by delivering post purchase experiences as convenient and seamless as shopping on Amazon or taking an Uber ride.
        .intro__btn
          a(href="#").btn.btn-primary Schedule a demo  
          a(href="#").btn.btn-secondary Take a product tour