section.intro
  video(src="img/videos.mp4" autoplay="autoplay" loop="loop")#autoplayvideo
  .container
    .row.center-xs
      .col-md-8.col-xs-12
        strong Re-Invent Customer Experience for Digital Customers
        h2 Make every purchase the beginning of a lifelong relationship with your customers by engaging them <br>in amazing post purchase digital experiences.
        .intro__btn
          a(href="#baner").btn.btn-secondary.baner-scroll Learn More