section.intro
  video(src="img/videos.mp4" autoplay="autoplay" loop="loop")#autoplayvideo
  .container
    .row.center-xs
      .col-md-8.col-xs-12
        h2 Make every purchase the beginning of a lifelong relationship with your customers
        p Maximize growth with amazing digital experiences across<br> the post purchase cycle.
        .intro__btn
          a(href="#baner").btn.btn-secondary.baner-scroll Learn More