section.intro
  video#autoplayvideo(src='img/videos.mp4', autoplay='', loop='')
  .container
    .row.center-xs
      .col-md-8.col-xs-12
        h2
          | Turn every purchase into a lifelong
          br
          | relationship with your customer.
        p
          | We help businesses deliver dynamic post purchase digital experiences that 
          br
          | build deeper connections with their customers.
        .intro__btn
          a.btn.btn-secondary.baner-scroll(href='#baner') Learn More