section.relations
  .container
    .relations__title
      h2 NHANCE NOW is built for businesses of all sizes.
      p
        | An infinitely flexible solution with multiple uses cases, across different industry segments.
    .relations__content
      .relations__block.wow.flipInX(data-wow-duration='1.5s')
        .relations__block__text
          img(src='img/icon/one-user.png', srcset='img/icon/one-user@2x.png 2x,  img/icon/one-user@3x.png 3x')
          strong MICRO SIZED BUSINESSES
          p
            | Perfect for micro sized businesses to effortlesly deliver modern customer experience.
        a(href='tour.html') Learn about NHANCE NOW Lite
      .relations__block.wow.flipInX(data-wow-duration='1.5s')
        .relations__block__text
          img(src='img/icon/three-user.png', srcset='img/icon/three-user@2x.png 2x,  img/icon/three-user@3x.png 3x')
          strong SMALL & MID SIZED BUSINESSES
          p
            | All-in-one digital platform to unify, modernize and transform customer experience management, customer engagement and outcomes.
        a(href='product.html') Take a complete product tour
      .relations__block.wow.flipInX(data-wow-duration='1.5s')
        .relations__block__text
          img(src='img/icon/group-user.png', srcset='img/icon/group-user@2x.png 2x,  img/icon/group-user@3x.png 3x')
          strong ENTERPRISES
          p
            | Improve, simplify and augment key areas of your customer experience with innovative and strategic solutions.
        a(href='customers.html') Learn about strategic use cases