section.reviews
  .container
    .row.center-xs
      .col-xs-6
        .reviews__title 
          h2 Read our customer’s say about us
          p The words and stories that inspire us every single day.
        .swiper-container.gallery-top
          .swiper-wrapper
            .swiper-slide
              .reviews__slide
                .reviews__slide__logo
                  img(src="img/home/leau-pure.png" srcset="img/home/leau-pure@2x.png 2x,  img/home/leau-pure@3x.png 3x")
                .reviews__slide__text
                  p NHANCENOW with its unique blend of sophistication and affordability presented us with a truly differentiated solution which redefines the way customer experience is delivered. With their help we want to enhance the way our customers experience our product and interact with our brand.”
            .swiper-slide
              .reviews__slide
                .reviews__slide__logo
                  img(src="img/home/leau-pure.png" srcset="img/home/leau-pure@2x.png 2x,  img/home/leau-pure@3x.png 3x")
                .reviews__slide__text
                  p NHANCENOW with its unique blend of sophistication and affordability presented us with a truly differentiated solution which redefines the way customer experience is delivered. With their help we want to enhance the way our customers experience our product and interact with our brand.”
            .swiper-slide
              .reviews__slide
                .reviews__slide__logo
                  img(src="img/home/leau-pure.png" srcset="img/home/leau-pure@2x.png 2x,  img/home/leau-pure@3x.png 3x")
                .reviews__slide__text
                  p NHANCENOW with its unique blend of sophistication and affordability presented us with a truly differentiated solution which redefines the way customer experience is delivered. With their help we want to enhance the way our customers experience our product and interact with our brand.”
            .swiper-slide
              .reviews__slide
                .reviews__slide__logo
                  img(src="img/home/leau-pure.png" srcset="img/home/leau-pure@2x.png 2x,  img/home/leau-pure@3x.png 3x")
                .reviews__slide__text
                  p NHANCENOW with its unique blend of sophistication and affordability presented us with a truly differentiated solution which redefines the way customer experience is delivered. With their help we want to enhance the way our customers experience our product and interact with our brand.”
            .swiper-slide
              .reviews__slide
                .reviews__slide__logo
                  img(src="img/home/leau-pure.png" srcset="img/home/leau-pure@2x.png 2x,  img/home/leau-pure@3x.png 3x")
                .reviews__slide__text
                  p NHANCENOW with its unique blend of sophistication and affordability presented us with a truly differentiated solution which redefines the way customer experience is delivered. With their help we want to enhance the way our customers experience our product and interact with our brand.”
        .swiper-button-next
        .swiper-button-prev
        .swiper-container.gallery-thumbs
          .swiper-wrapper 
            .swiper-slide
              .reviews__slide__img
                img(src="img/home/souq-copy-2.png" srcset="img/home/souq-copy-2@2x.png 2x,  img/home/souq-copy-2@3x.png 3x")
              .reviews__slide__name
                b Prithviraj Sukumaran
                p VP of Lenovo
            .swiper-slide
              .reviews__slide__img
                img(src="img/home/souq-copy-2.png" srcset="img/home/souq-copy-2@2x.png 2x,  img/home/souq-copy-2@3x.png 3x")
              .reviews__slide__name
                b Prithviraj Sukumaran
                p VP of Lenovo
            .swiper-slide
              .reviews__slide__img
                img(src="img/home/souq-copy-2.png" srcset="img/home/souq-copy-2@2x.png 2x,  img/home/souq-copy-2@3x.png 3x")
              .reviews__slide__name
                b Prithviraj Sukumaran
                p VP of Lenovo
            .swiper-slide
              .reviews__slide__img
                img(src="img/home/souq-copy-2.png" srcset="img/home/souq-copy-2@2x.png 2x,  img/home/souq-copy-2@3x.png 3x")  
              .reviews__slide__name
                b Prithviraj Sukumaran
                p VP of Lenovo  
            .swiper-slide
              .reviews__slide__img
                img(src="img/home/souq-copy-2.png" srcset="img/home/souq-copy-2@2x.png 2x,  img/home/souq-copy-2@3x.png 3x")
              .reviews__slide__name
                b Prithviraj Sukumaran
                p VP of Lenovo
                