section.reviews
  .container
    .row.center-xs
      .col-md-7.col-sm-10.col-xs-12
        .reviews__title 
          h2 Read what our customer’s say about us
          p The words and stories that inspire us every single day.
        .swiper
          .swiper-container.gallery-top
            .swiper-wrapper
              .swiper-slide
                .reviews__slide
                  .reviews__slide__logo.reviews__slide__logo--bg
                    img(src="img/home/kings-traders.png")
                  .reviews__slide__text
                    p Our handcrafted shoes are intimate consumer products, richly personalized.  NHANCE NOW allows us to take our relationship deeper with a host of hyper personalized services which builds helps build trust and makes our customers keep coming back to us.
              .swiper-slide
                .reviews__slide
                  .reviews__slide__logo.reviews__slide__logo--bg
                    img(src="img/home/ali-amar.png")
                  .reviews__slide__text
                    p Jewelry symbolizes a very personal relationship between the brand and the consumer. NHANCE NOW allows us to build 1-1 digital relationships with all our customers and understand their unique needs and deliver upon them.
              .swiper-slide
                .reviews__slide
                  .reviews__slide__logo
                    img(src="img/home/redfox.png")
                  .reviews__slide__text
                    p Our customers are spread across geographies. It was challenging to provide a consistent post purchase experience. NHANCE NOW’s unique model has helped us build global digital communities and provide seamless and consistent customer experience to our global customers
              .swiper-slide
                .reviews__slide
                  .reviews__slide__logo
                    img(src="img/home/souq.png")  
                  .reviews__slide__text
                    p Before NHANCE NOW we had 6 different channels for post purchase consumer engagement. Post adoption of NHANCE NOW we simply have one mobile hub for all interactions. It has reduced our costs, simplified operations and created happier customers
              .swiper-slide
                .reviews__slide
                  .reviews__slide__logo
                    img(src="img/home/holiday-planner.png")
                  .reviews__slide__text
                    p We realized the potential of lifetime value that can be driven by a defining customer experience. Not only has NHANCE NOW helped us in providing an unique experience to our customers, it has also allowed us to massively increase our up sell through the same channel
          .swiper-button-next
            img(src="img/icon/arrow-right.png" srcset="img/icon/arrow-right@2x.png 2x, img/icon/arrow-right@3x.png 3x")
          .swiper-button-prev
            img(src="img/icon/arrow-left.png" srcset="img/icon/arrow-left@2x.png 2x, img/icon/arrow-left@3x.png 3x")
          .swiper-container.gallery-thumbs
            .swiper-wrapper 
              .swiper-slide
                .reviews__slide__img
                  img(src="img/home/kings-traders.png")
                .reviews__slide__name
                  b King’s Trader
                  p Business Owner, King’s Trader
              .swiper-slide
                .reviews__slide__img
                  img(src="img/home/ali-amar.png")
                .reviews__slide__name
                  b Ali Amar Jewelers
                  p Owner – Ali Amar Jeweler
              .swiper-slide
                .reviews__slide__img
                  img(src="img/home/redfox.png")
                .reviews__slide__name
                  b Redfox
                  p CEO – Redfox
              .swiper-slide
                .reviews__slide__img
                  img(src="img/home/souq.png")  
                .reviews__slide__name
                  b Souq2020
                  p VP – Customer Experience, Souq2020
              .swiper-slide
                .reviews__slide__img
                  img(src="img/home/holiday-planner.png")
                .reviews__slide__name
                  b Holiday Planner
                  p Head of Sales – Holiday Planner
                  