section.simplicity
  .container
    .row.center-xs
      .col-md-7.col-xs-12
        .simplicity__title
          h2 Easily build an experience ecosystem.
          p Bring together your business applications, partners and customers to create a seamless experience ecosystem, without changing the way you work.
    .row
      .col-sm-3.col-xs-12
        .simplicity__block.wow.fadeInLeft(data-wow-duration='1.5s')
          h2
            | Your Post Purchase 
            br
            | Interaction Channels
          .simplicity__block__img
            p
              img(src='img/home/crm.png')
              | CRM
            p
              img(src='img/home/other-apps.png')
              | Other Business Application
      .col-sm-6.col-xs-12
        .simplicity__block.wow.fadeInUpBig(data-wow-duration='1.5s')
          h2 Digital Experience <br>Cloud
          .simplicity__block__img
            img(src='img/home/digital-exp@3x.png')
      .col-sm-3.col-xs-12
        .simplicity__block.simplicity__block--last.wow.fadeInRight(data-wow-duration='1.5s')
          h2 Digital Experience <br>Card
          .simplicity__block__img.simplicity__block__img--last
            img(src='img/home/digital-kit@3x.png')