section.simplicity
  .container
    .row.center-xs
      .col-md-6.col-xs-12
        .simplicity__title
          h2 The best part.... it’s simple to use
          p Bring together all your channels and use our advanced Digital Experience Platform to create Digital Kits that delight your consumers
    .row
      .col-sm-3.col-xs-12
        .simplicity__block
          h2 Post Purchase Interaction<br> Channels
          .simplicity__block__img
            p
              img(src="img/home/crm.png" srcset="img/home/crm@2x.png 2x, img/home/crm@3x.png 3x")
              | CRM
            p
              img(src="img/home/other-apps.png" srcset="img/home/other-apps@2x.png 2x, img/home/other-apps@3x.png 3x")
              | Other Business Application
      .col-sm-6.col-xs-12
        .simplicity__block
          h2 Digital Experience Platform
          .simplicity__block__img
            img(src="img/home/digital-exp.png" srcset="img/home/digital-exp@2x.png 2x, img/home/digital-exp@3x.png 3x")
      .col-sm-3.col-xs-12
        .simplicity__block.simplicity__block--last
          h2 Digital Kit
          .simplicity__block__img
            img(src="img/home/digital-kit.png" srcset="img/home/digital-kit@2x.png 2x, img/home/digital-kit@3x.png 3x")