section.simplicity
  .container
    .row.center-xs
      .col-xs-12
        .simplicity__title
          h2 Remarkable digital experiences deliver remarkable growth.
          p Easily create a seamless experience ecosystem to deliver amazing digital interactions that span across the<br> entire post purchase cycle.
    .row
      .col-sm-3.col-xs-12
        .simplicity__block.wow.fadeInLeft(data-wow-duration='1.5s')
          h2
            | Your Post Purchase 
            br
            | Interaction Channels
          .simplicity__block__img
            p
              img(src='img/home/crm.png', srcset='img/home/crm@2x.png 2x, img/home/crm@3x.png 3x')
              | CRM
            p
              img(src='img/home/other-apps.png', srcset='img/home/other-apps@2x.png 2x, img/home/other-apps@3x.png 3x')
              | Other Business Application
      .col-sm-6.col-xs-12
        .simplicity__block.wow.fadeInUpBig(data-wow-duration='1.5s')
          h2 Digital Experience <br>Cloud
          .simplicity__block__img
            img(src='img/home/digital-exp.png', srcset='img/home/digital-exp@2x.png 2x, img/home/digital-exp@3x.png 3x')
      .col-sm-3.col-xs-12
        .simplicity__block.simplicity__block--last.wow.fadeInRight(data-wow-duration='1.5s')
          h2 Digital Experience <br>Card
          .simplicity__block__img.simplicity__block__img--last
            img(src='img/home/digital-kit.png', srcset='img/home/digital-kit@2x.png 2x, img/home/digital-kit@3x.png 3x')