section.slider
  .slider__header
    .container
      .row.center-xs
        .col-xs-3
          .slider__header__block
            img(src="https://via.placeholder.com/150x150.png", alt="")
        .col-xs-3
          .slider__header__block
            img(src="https://via.placeholder.com/150x150.png", alt="")
        .col-xs-3
          .slider__header__block
            img(src="https://via.placeholder.com/150x150.png", alt="")
        .col-xs-3
          .slider__header__block
            img(src="https://via.placeholder.com/150x150.png", alt="")
  .slider__content
    .slider__content__pagination
      span.circle-1.active
      span.circle-2
      span.circle-3
    .slider__img
      .row
        .col-xs-8
        .col-xs-4
          img(src="https://via.placeholder.com/150x90.png", alt="")
    .slider__content__slide
      .slider__slide.slider__slide-1
        .container
          .row
            .col-xs-6
              h2 Introducing Digital Experience Card. Provide post purchase experiences  as seamless and convenient as shopping on Amazon or taking an Uber ride to win, serve and retain modern customers.
      .slider__slide.slider__slide-2
        .container
          .row
            .col-xs-6
              h2 Introducing Digital Experience Card. Provide post purchase experiences  as seamless and convenient as shopping on Amazon or taking an Uber ride to win, serve and retain modern customers.
      .slider__slide.slider__slide-3
        .container
          .row
            .col-xs-6
              h2 Introducing Digital Experience Card. Provide post purchase experiences  as seamless and convenient as shopping on Amazon or taking an Uber ride to win, serve and retain modern customers.