section.animation.hidden-xs.hidden-sm
  .container
    .row.center-xs
      .col-xs-8
        .animation__purchases
          img(src="img/home/animated/icon-01.png" srcset="img/home/animated/icon-01@2x.png 2x, img/home/animated/icon-01@3x.png 3x" data-300-top="transform:translateY(-60%) translateX(-400%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(20%) translateX(0%) rotate(-60deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(-180deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-02.png" srcset="img/home/animated/icon-02@2x.png 2x, img/home/animated/icon-02@3x.png 3x" data-300-top="transform:translateY(-60%) translateX(-290%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(20%) translateX(0%) rotate(30deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(360deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-03.png" srcset="img/home/animated/icon-03@2x.png 2x, img/home/animated/icon-03@3x.png 3x" data-300-top="transform:translateY(-60%) translateX(-180%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(20%) translateX(0%) rotate(20deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(170deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-04.png" srcset="img/home/animated/icon-04@2x.png 2x, img/home/animated/icon-04@3x.png 3x" data-300-top="transform:translateY(-60%) translateX(-70%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(20%) translateX(0%) rotate(-45deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(-90deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-05.png" srcset="img/home/animated/icon-05@2x.png 2x, img/home/animated/icon-05@3x.png 3x" data-300-top="transform:translateY(-60%) translateX(40%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(20%) translateX(0%) rotate(-60deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(-180deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-06.png" srcset="img/home/animated/icon-06@2x.png 2x, img/home/animated/icon-06@3x.png 3x" data-300-top="transform:translateY(-60%) translateX(150%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(20%) translateX(0%) rotate(30deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(360deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-07.png" srcset="img/home/animated/icon-07@2x.png 2x, img/home/animated/icon-07@3x.png 3x" data-300-top="transform:translateY(-60%) translateX(260%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(20%) translateX(0%) rotate(20deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(170deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-08.png" srcset="img/home/animated/icon-08@2x.png 2x, img/home/animated/icon-08@3x.png 3x" data-300-top="transform:translateY(-60%) translateX(370%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(20%) translateX(0%) rotate(-45deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(-90deg); position: absolute; opacity: 0;")
      .col-xs-12
        .animation__phone
          img(src="img/tour/iphone-frame.png", alt="").phone
          img.animation__phone-img(src="img/home/bg-nhance.png" srcset="img/home/bg-nhance@2x.png 2x, img/home/bg-nhance@3x.png 3x")
          .swiper(data-290-top="transform:translateY(-100%);" data-center="transform:translateY(0%);")
            .swiper-container.swiper-animated
              .swiper-wrapper#swiper-random
                .swiper-slide
                  img(src='img/home/animated/01_dec.png')
                .swiper-slide
                  img(src='img/home/animated/02_dec.png')
                .swiper-slide
                  img(src='img/home/animated/03_dec.png')
                .swiper-slide
                  img(src='img/home/animated/04_dec.png')
                .swiper-slide
                  img(src='img/home/animated/05_dec.png')
                .swiper-slide
                  img(src='img/home/animated/06_dec.png')
                .swiper-slide
                  img(src='img/home/animated/07_dec.png')
                .swiper-slide
                  img(src='img/home/animated/08_dec.png')