.animation__pos
  section.animation
    .container
      .row.center-xs
        .col-xs-8
          .animation__purchases
            img(src="img/home/pro-01.png" srcset="img/home/pro-01@2x.png 2x, img/home/pro-01@3x.png 3x" data-300-top="transform:translateY(-90%) translateX(-290%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(40%) translateX(0%) rotate(-60deg); position: absolute; opacity: 1;" data--150-top="transform:translateY(150%) translateX(0%) rotate(-180deg); position: absolute; opacity: 0;")
            img(src="img/home/pro-02.png" srcset="img/home/pro-02@2x.png 2x, img/home/pro-02@3x.png 3x" data-300-top="transform:translateY(-90%) translateX(-80%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(40%) translateX(0%) rotate(30deg); position: absolute; opacity: 1;" data--150-top="transform:translateY(150%) translateX(0%) rotate(360deg); position: absolute; opacity: 0;")
            img(src="img/home/pro-03.png" srcset="img/home/pro-03@2x.png 2x, img/home/pro-03@3x.png 3x" data-300-top="transform:translateY(-90%) translateX(70%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(40%) translateX(0%) rotate(20deg); position: absolute; opacity: 1;" data--150-top="transform:translateY(150%) translateX(0%) rotate(170deg); position: absolute; opacity: 0;")
            img(src="img/home/pro-04.png" srcset="img/home/pro-04@2x.png 2x, img/home/pro-04@3x.png 3x" data-300-top="transform:translateY(-90%) translateX(150%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(40%) translateX(0%) rotate(-45deg); position: absolute; opacity: 1;" data--150-top="transform:translateY(150%) translateX(0%) rotate(-90deg); position: absolute; opacity: 0;")
        .col-xs-12
          .animation__phone
            img(src="img/tour/iphone-frame.png", alt="").phone
            img.animation__phone-img(src="img/home/bg-nhance.png" srcset="img/home/bg-nhance@2x.png 2x, img/home/bg-nhance@3x.png 3x")
            img.animation__phone-img(src='img/tour/dashboard.jpg' data-290-top="transform:translateY(-100%);" data-center="transform:translateY(0%);")


section.slider
  .slider__header.hidden-xs
    .container
      .slider__header__content
        .slider__header__block(rel="img/home/pro-01@3x.png").active
          img(src="img/home/pro-01.png" srcset="img/home/pro-01@2x.png 2x, img/home/pro-01@3x.png 3x")
        .slider__header__block(rel="img/home/pro-02@3x.png")
          img(src="img/home/pro-02.png" srcset="img/home/pro-02@2x.png 2x, img/home/pro-02@3x.png 3x")
        .slider__header__block(rel="img/home/pro-03@3x.png")
          img(src="img/home/pro-03.png" srcset="img/home/pro-03@2x.png 2x, img/home/pro-03@3x.png 3x")
        .slider__header__block(rel="img/home/pro-04@3x.png")
          img(src="img/home/pro-04.png" srcset="img/home/pro-04@2x.png 2x, img/home/pro-04@3x.png 3x")
  .slider__content
    .slider__content__pagination.hidden-xs
      span.circle-1.active
      span.circle-2
      span.circle-3
    .slider__img.hidden-xs
      .container-fluid
        .row
          .col-xs-8
          .col-xs-4
            .slider__img__block
              img(src="img/home/pro-01@3x.png")
    .slider__content__slide
      .slider__slide.slider__slide-1
        .container
          .row
            .col-sm-6.col-xs-12
              h2 Introducing Digital Experience Card. Provide post purchase experiences  as seamless and convenient as shopping on Amazon or taking an Uber ride to win, serve and retain modern customers.
            .col-xs-12.hidden-sm.hidden-md
              .slider__slide__img
                img(src="img/home/pro-01@3x.png")
      .slider__slide.slider__slide-2
        .container
          .row
            .col-sm-6.col-xs-12
              h2 Introducing Digital Experience Card. Provide post purchase experiences  as seamless and convenient as shopping on Amazon or taking an Uber ride to win, serve and retain modern customers.
            .col-xs-12.hidden-sm.hidden-md
              .slider__slide__img
                img(src="img/home/pro-01@3x.png")
      .slider__slide.slider__slide-3
        .container
          .row
            .col-sm-6.col-xs-12
              h2 Introducing Digital Experience Card. Provide post purchase experiences  as seamless and convenient as shopping on Amazon or taking an Uber ride to win, serve and retain modern customers.
            .col-xs-12.hidden-sm.hidden-md
              .slider__slide__img
                img(src="img/home/pro-01@3x.png")