section.animation.hidden-sm.hidden-md.hidden-xs
  .container
    .row.center-xs
      .col-xs-8
        .animation__purchases
          img(src="img/home/animated/icon-01.png" srcset="img/home/animated/icon-01@2x.png 2x, img/home/animated/icon-01@3x.png 3x" data-210-top="transform:translateY(-60%) translateX(-450%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(0%) rotate(-60deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(-180deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-02.png" srcset="img/home/animated/icon-02@2x.png 2x, img/home/animated/icon-02@3x.png 3x" data-210-top="transform:translateY(-60%) translateX(-325%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(0%) rotate(30deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(360deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-03.png" srcset="img/home/animated/icon-03@2x.png 2x, img/home/animated/icon-03@3x.png 3x" data-210-top="transform:translateY(-60%) translateX(-200%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(0%) rotate(20deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(170deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-04.png" srcset="img/home/animated/icon-04@2x.png 2x, img/home/animated/icon-04@3x.png 3x" data-210-top="transform:translateY(-60%) translateX(-75%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(0%) rotate(-45deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(-90deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-05.png" srcset="img/home/animated/icon-05@2x.png 2x, img/home/animated/icon-05@3x.png 3x" data-210-top="transform:translateY(-60%) translateX(45%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(0%) rotate(-60deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(-180deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-06.png" srcset="img/home/animated/icon-06@2x.png 2x, img/home/animated/icon-06@3x.png 3x" data-210-top="transform:translateY(-60%) translateX(175%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(0%) rotate(30deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(360deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-07.png" srcset="img/home/animated/icon-07@2x.png 2x, img/home/animated/icon-07@3x.png 3x" data-210-top="transform:translateY(-60%) translateX(300%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(0%) rotate(20deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(170deg); position: absolute; opacity: 0;")
          img(src="img/home/animated/icon-08.png" srcset="img/home/animated/icon-08@2x.png 2x, img/home/animated/icon-08@3x.png 3x" data-210-top="transform:translateY(-60%) translateX(425%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(0%) rotate(-45deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(0%) rotate(-90deg); position: absolute; opacity: 0;")
      .col-xs-12
        .animation__phone
          img(src="img/tour/iphone-frame.png", alt="").phone
          img.animation__phone-img(src="img/home/bg-nhance.png" srcset="img/home/bg-nhance@2x.png 2x, img/home/bg-nhance@3x.png 3x")
          .swiper(data-220-top="transform:translateY(-100%);" data-center="transform:translateY(0%);")
            .swiper-container.swiper-animated
              .swiper-wrapper#swiper-random
                .swiper-slide
                  img(src='img/home/animated/insurance.png')
                .swiper-slide
                  img(src='img/home/animated/mobile.png')
                .swiper-slide
                  img(src='img/home/animated/travel.png')
                .swiper-slide
                  img(src='img/home/animated/furniture.png')
                .swiper-slide
                  img(src='img/home/animated/home_appliances.png')
                .swiper-slide
                  img(src='img/home/animated/sports.png')
                .swiper-slide
                  img(src='img/home/animated/jewellery.png')
                .swiper-slide
                  img(src='img/home/animated/car.png')