section.animation.hidden-xs
  .container
    .row.center-xs
      .col-xs-8
        .animation__purchases
          img(src="img/home/pro-01.png" srcset="img/home/pro-01@2x.png 2x, img/home/pro-01@3x.png 3x" data-300-top="transform:translateY(-90%) translateX(-300%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(40%) translateX(0%) rotate(-60deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(150%) translateX(0%) rotate(-180deg); position: absolute; opacity: 0;")
          img(src="img/home/pro-02.png" srcset="img/home/pro-02@2x.png 2x, img/home/pro-02@3x.png 3x" data-300-top="transform:translateY(-90%) translateX(-100%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(40%) translateX(0%) rotate(30deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(150%) translateX(0%) rotate(360deg); position: absolute; opacity: 0;")
          img(src="img/home/pro-03.png" srcset="img/home/pro-03@2x.png 2x, img/home/pro-03@3x.png 3x" data-300-top="transform:translateY(-90%) translateX(30%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(40%) translateX(0%) rotate(20deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(150%) translateX(0%) rotate(170deg); position: absolute; opacity: 0;")
          img(src="img/home/pro-04.png" srcset="img/home/pro-04@2x.png 2x, img/home/pro-04@3x.png 3x" data-300-top="transform:translateY(-90%) translateX(110%) rotate(0deg); position: absolute; opacity: 1;" data-200-top="transform:translateY(40%) translateX(0%) rotate(-45deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(150%) translateX(0%) rotate(-90deg); position: absolute; opacity: 0;")
      .col-xs-12
        .animation__phone
          img(src="img/tour/iphone-frame.png", alt="").phone
          img.animation__phone-img(src="img/home/bg-nhance.png" srcset="img/home/bg-nhance@2x.png 2x, img/home/bg-nhance@3x.png 3x")
          .swiper(data-290-top="transform:translateY(-100%);" data-center="transform:translateY(0%);")
            .swiper-container.swiper-animated
              .swiper-wrapper#swiper-random
                .swiper-slide
                  img(src='img/home/01_dk.png')
                .swiper-slide
                  img(src='img/home/02_dk.png')
                .swiper-slide
                  img(src='img/home/03_dk.png')
                .swiper-slide
                  img(src='img/home/04_dk.png')
                .swiper-slide
                  img(src='img/home/05_dk.png')
                .swiper-slide
                  img(src='img/home/06_dk.png')
                .swiper-slide
                  a(href="#")
                    img(src='img/home/07_dk.png')

//- section.slider
//-   .slider__header.hidden-xs.hidden-sm
//-     .container
//-       .slider__header__content
//-         .slider__header__block(rel="img/home/pro-01@3x.png").active
//-           img(src="img/home/pro-01.png" srcset="img/home/pro-01@2x.png 2x, img/home/pro-01@3x.png 3x")
//-         .slider__header__block(rel="img/home/pro-02@3x.png")
//-           img(src="img/home/pro-02.png" srcset="img/home/pro-02@2x.png 2x, img/home/pro-02@3x.png 3x")
//-         .slider__header__block(rel="img/home/pro-03@3x.png")
//-           img(src="img/home/pro-03.png" srcset="img/home/pro-03@2x.png 2x, img/home/pro-03@3x.png 3x")
//-         .slider__header__block(rel="img/home/pro-04@3x.png")
//-           img(src="img/home/pro-04.png" srcset="img/home/pro-04@2x.png 2x, img/home/pro-04@3x.png 3x")
//-   .slider__content
//-     .slider__content__pagination.hidden-sm.hidden-xs
//-       span.circle-1.active
//-       span.circle-2
//-       span.circle-3
//-     .slider__img.hidden-xs.hidden-sm
//-       .container-fluid
//-         .row
//-           .col-xs-8
//-           .col-xs-4
//-             .slider__img__block
//-               img(src="img/home/pro-01@3x.png")
//-     .slider__content__slide
//-       .slider__slide.slider__slide-1
//-         .container
//-           .row
//-             .col-md-6.col-xs-12
//-               h2 Introducing Digital Experience Card. Provide post purchase experiences  as seamless and convenient as shopping on Amazon or taking an Uber ride to win, serve and retain modern customers.
//-             .col-xs-12.hidden-md
//-               .slider__slide__img
//-                 img(src="img/home/pro-01@3x.png")
//-       .slider__slide.slider__slide-2
//-         .container
//-           .row
//-             .col-md-6.col-xs-12
//-               h2 Introducing Digital Experience Card. Provide post purchase experiences  as seamless and convenient as shopping on Amazon or taking an Uber ride to win, serve and retain modern customers.
//-             .col-xs-12.hidden-md
//-               .slider__slide__img
//-                 img(src="img/home/pro-01@3x.png")
//-       .slider__slide.slider__slide-3
//-         .container
//-           .row
//-             .col-md-6.col-xs-12
//-               h2 Introducing Digital Experience Card. Provide post purchase experiences  as seamless and convenient as shopping on Amazon or taking an Uber ride to win, serve and retain modern customers.
//-             .col-xs-12.hidden-md
//-               .slider__slide__img
//-                 img(src="img/home/pro-01@3x.png")